.btn {

    padding: 0.2rem 0.5rem;
    border-radius: 3px;

    &-def {
        background: #F44611;
        @include rem(border-radius, 10px);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        @include rem(min-height, 48px);
        @include rem(padding, 0 27px);
    }


    &-mate {
        display: flex;
        align-items: center;
        margin-left: 1rem;

        i {
            margin-right: 0.35rem;
        }
    }

    &:focus {
        box-shadow: none;
    }

    &-bread {
        border: 1px solid #eee;
        margin-left: 1rem;
        color: #333;
        opacity: .6;
        display: flex;
        align-items: center;

        .material-icons {
            margin-right: 0.25rem;
        }
    }

    &-df-center {
        display: flex;
        align-items: center;
        padding: 0.25rem;
    }

    &-nav {
        width: 100%;
        text-align: left;

        & + & {
            @include rem(margin-top, 31px);
        }

        font-size: 15px;
        font-weight: 500;
        border-radius: 0;
        display: flex;
        align-items: center;
        color: #8DA1B5;
        @include rem(padding-left, 40px);
        position: relative;
        transition: 0.5s;

        &:before, &:after {
            position: absolute;
            top: 50%;
            content: '';
            transition: 0.5s;

        }

        &:before {
            left: 0;
            transform: translate(-140%, -50%);;
            @include rem(width, 10px);
            @include rem(height, 48px);
            @include rem(border-radius, 0px 10px 10px 0px);
            background: #F44611;
        }

        &:after {
            right: 0;
            transform: translate(140%, -50%);
            @include rem(width, 3px);
            @include rem(height, 32px);
            background: #F44611;
            display: none;
        }

        i {
            margin-right: 0.5rem;
            color: #212529;
        }

        &_icon {
            @include rem(width, 24px);
            @include rem(margin-right, 25px);

            .ratio_img_src {
                background-color: #C7CADD;
                -webkit-mask-size: contain;
                transition: 0.5s;

            }
        }

        &.router-link-exact-active {
            color: #000;

            &:before {
                transform: translate(-10%, -50%);
            }

            &:after {
                transform: translate(10%, -50%);
            }

            .ratio_img_src {
                background-color: #000;
            }
        }

    }

    &-icon {
        padding: 0.15rem 0.25rem;
        line-height: 100%;
        display: table-caption;
    }
}

.pull-right {
    display: flex;
    margin-left: auto;
}

