<template>
<section class="feedback">
    <div class="container-fluid">
      <div class="row feedback_wrap">
        <div class="col-md-3">
          <div class="feedback_title">
            <h3>Обратная связь</h3>
          </div>
        </div>
        <div class="col-md-9">
          <div class="feedback_descr">
            <p>Если у вас есть какие-то вопросы, пожалуйста, не стесняйтесь и напишите нам. Если вы не получили немедленный ответ, это значит, что наши менеджеры сильно перегружены. Мы ответим, как только сможем. Обещаем!</p>
          </div>
          <div class="feedback_contact">
            <div class="feedback_contact_phone">
              <div class="feedback_contact_phone_img">
                <img src="media/images/phone.svg" alt="">
              </div>
              <h3>9911</h3>
            </div>
            <div class="feedback_contact_phone">
              <div class="feedback_contact_phone_img">
                <img src="media/images/email_icon.svg" alt="">
              </div>
              <h3>office@petroretail.kz</h3>
            </div>
            <div class="feedback_contact_phone">
              <a href="javascript:void(0);">Посмотреть все контакты</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</template>

<script>

export default {

}
</script>

<style lang="scss">
@import '../../assets/text.scss';

.feedback {
  min-height: get-vw-1440(454px);
  background-image: url('/media/images/feedback.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: get-vw-1440(150px);
  padding-right: get-vw-1440(150px);
  &_wrap {
    padding-top: get-vw-1440(130px);
  }
  &_contact {
    display: flex;
    &_phone {
      display: flex;
      &:nth-child(2) {
        margin-left: get-vw-1440(40px);
      }
      &:nth-child(3) {
        margin-left: get-vw-1440(60px);
      }
      a {
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: get-vw-1440(18px);
        line-height: get-vw-1440(22px);
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        color: #000000;
        position: relative;
        &:hover {
          text-decoration: none;
        }
        &::after {
          content: '';
          position: absolute;
          height: get-vw-1440(1px);
          width: 100%;
          background: #F44611;
          bottom: get-vw-1440(2px);
        }
      }
      h3 {
        font-family: Gilroy;
        font-weight: 600;
        font-size: get-vw-1440(18px);
        line-height: get-vw-1440(22px);
        display: flex;
        align-items: center;
        letter-spacing: 0.05em;
        color: #000000;
        margin: 0;
      }
      &_img {
        width: get-vw-1440(36px);
        height: get-vw-1440(36px);
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(244, 70, 17, 0.2);
        border-radius: 50%;
        margin-right: get-vw-1440(20px );
        img {
          width: get-vw-1440(20px);
          height: get-vw-1440(20px);
        }
      }
    }
  }
  &_title {
    h3 {
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: get-vw-1440(36px);
      line-height: get-vw-1440(48px);
      letter-spacing: 0.05em;
      color: #000000;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: get-vw-1440(-30px);
        width: get-vw-1440(30px);
        height: get-vw-1440(2px);
        background: #F44611;
      }
    }
  }
  &_descr {
    p {
      font-family: 'Open Sans';
      font-size: get-vw-1440(20px);
      line-height: get-vw-1440(30px);
      color: #000000;
    }
  }
}

// Media queries on Tablet's and Phone's >

@media screen and (max-width: 768px) {
  .feedback {
    min-height: get-vw-768(454px);
    padding-left: get-vw-768(25px);
    padding-right: get-vw-768(25px);
    &_wrap {
      padding-top: get-vw-768(130px);
    }
    &_contact {
      &_phone {
        align-items: center;
        &:nth-child(2) {
          margin-left: get-vw-768(20px);
        }
        &:nth-child(3) {
          margin-left: get-vw-768(20px);
        }
        a {
          font-size: get-vw-768(18px);
          line-height: get-vw-768(22px);
          &::after {
            height: get-vw-768(1px);
            bottom: get-vw-768(-2px);
          }
        }
        h3 {
          font-size: get-vw-768(18px);
          line-height: get-vw-768(22px);
        }
        &_img {
          width: get-vw-768(36px);
          height: get-vw-768(36px);
          margin-right: get-vw-768(10px);
          img {
            width: get-vw-768(20px);
            height: get-vw-768(20px);
          }
        }
      }
    }
    &_title {
      h3 {
        font-size: get-vw-768(36px);
        line-height: get-vw-768(48px);
        &::after {
          bottom: get-vw-768(-30px);
          width: get-vw-768(30px);
          height: get-vw-768(2px);
        }
      }
    }
    &_descr {
      padding-left: get-vw-768(30px);
      p {
        font-size: get-vw-768(20px);
        line-height: get-vw-768(30px);
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .feedback {
    min-height: get-vw-600(454px);
    padding-left: get-vw-600(25px);
    padding-right: get-vw-600(25px);
    &_wrap {
      padding-top: get-vw-600(50px);
    }
    &_contact {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &_phone {
        &:nth-child(2) {
          margin-left: get-vw-600(20px);
        }
        &:nth-child(3) {
          margin-left: get-vw-600(0px);
          margin-top: get-vw-600(15px);
        }
        a {
          font-size: get-vw-600(18px);
          line-height: get-vw-600(22px);
          &::after {
            height: get-vw-600(1px);
            bottom: get-vw-600(0px);
          }
        }
        h3 {
          font-size: get-vw-600(18px);
          line-height: get-vw-600(22px);
        }
        &_img {
          width: get-vw-600(36px);
          height: get-vw-600(36px);
          margin-right: get-vw-600(10px);
          img {
            width: get-vw-600(20px);
            height: get-vw-600(20px);
          }
        }
      }
    }
    &_title {
      h3 {
        font-size: get-vw-600(36px);
        line-height: get-vw-600(48px);
        &::after {
          bottom: get-vw-600(0px);
          width: get-vw-600(30px);
          height: get-vw-600(2px);
        }
      }
    }
    &_descr {
      padding-left: get-vw-600(0px);
      p {
        font-size: get-vw-600(20px);
        line-height: get-vw-600(30px);
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .feedback {
    min-height: get-vw-480(454px);
    padding-left: get-vw-480(25px);
    padding-right: get-vw-480(25px);
    &_wrap {
      padding-top: get-vw-480(50px);
    }
    &_contact {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &_phone {
        &:nth-child(2) {
          margin-left: get-vw-480(20px);
        }
        &:nth-child(3) {
          margin-left: get-vw-480(0px);
          margin-top: get-vw-480(15px);
        }
        a {
          font-size: get-vw-480(18px);
          line-height: get-vw-480(22px);
          &::after {
            height: get-vw-480(1px);
            bottom: get-vw-480(0px);
          }
        }
        h3 {
          font-size: get-vw-480(18px);
          line-height: get-vw-480(22px);
        }
        &_img {
          width: get-vw-480(36px);
          height: get-vw-480(36px);
          margin-right: get-vw-480(10px);
          img {
            width: get-vw-480(20px);
            height: get-vw-480(20px);
          }
        }
      }
    }
    &_title {
      h3 {
        font-size: get-vw-480(36px);
        line-height: get-vw-480(48px);
        &::after {
          bottom: get-vw-480(0px);
          width: get-vw-480(30px);
          height: get-vw-480(2px);
        }
      }
    }
    &_descr {
      padding-left: get-vw-480(0px);
      p {
        font-size: get-vw-480(20px);
        line-height: get-vw-480(30px);
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .feedback {
    min-height: get-vw-360(454px);
    padding-left: get-vw-360(25px);
    padding-right: get-vw-360(25px);
    &_wrap {
      padding-top: get-vw-360(50px);
    }
    &_contact {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: get-vw-360(50px);
      &_phone {
        &:nth-child(2) {
          margin-left: get-vw-360(0px);
          margin-top: get-vw-360(15px);
        }
        &:nth-child(3) {
          margin-left: get-vw-360(0px);
          margin-top: get-vw-360(15px);
        }
        a {
          font-size: get-vw-360(18px);
          line-height: get-vw-360(22px);
          &::after {
            height: get-vw-360(1px);
            bottom: get-vw-360(0px);
          }
        }
        h3 {
          font-size: get-vw-360(18px);
          line-height: get-vw-360(22px);
        }
        &_img {
          width: get-vw-360(36px);
          height: get-vw-360(36px);
          margin-right: get-vw-360(10px);
          img {
            width: get-vw-360(20px);
            height: get-vw-360(20px);
          }
        }
      }
    }
    &_title {
      h3 {
        font-size: get-vw-360(36px);
        line-height: get-vw-360(48px);
        &::after {
          bottom: get-vw-360(0px);
          width: get-vw-360(30px);
          height: get-vw-360(2px);
        }
      }
    }
    &_descr {
      padding-left: get-vw-360(0px);
      p {
        font-size: get-vw-360(20px);
        line-height: get-vw-360(30px);
      }
    }
  }
}
</style>
