<template>
<section class="dala_market" style="background-image: url('media/images/dala_market.png')">
    <div class="container-fluid">
      <div class="row dala_market_wrap">
        <div class="col-md-6 col-6"></div>
        <div class="col-md-6 col-6">
          <div class="dala_market_descr">
            <img src="media/images/dala_market_logo.svg" alt="">
            <h3>Кофе — любимый напиток цивилизованного мира</h3>
            <p>Используем только лучшее, натуральное и собранное в прайм-тайм</p>
          </div>
        </div>
      </div>
    </div>
</section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '../../assets/text.scss';
.dala_market {
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: get-vw-1440(150px);
  padding-right: get-vw-1440(150px);
  &_wrap {
    min-height: get-vw-1440(500px);
  }
  &_descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    img {
      width: get-vw-1440(192px);
      height: get-vw-1440(24px);
    }
    h3 {
      font-family: 'Gilroy';
      font-weight: 600;
      font-size: get-vw-1440(30px);
      line-height: get-vw-1440(40px);
      letter-spacing: 0.05em;
      color: #FFFFFF;
      margin-top: get-vw-1440(33px);
      margin-bottom: get-vw-1440(20px);
      padding-right: get-vw-1440(125px);
    }
    p {
      font-family: 'Gilroy';
      font-weight: 600;
      font-size: get-vw-1440(18px);
      line-height: get-vw-1440(24px);
      letter-spacing: 0.05em;
      color: rgba(255, 255, 255, 0.5);
      padding-right: get-vw-1440(125px);
    }
  }
}

// Media queries on Tablet's and Phone's >

@media screen and (max-width: 768px) {
  .dala_market {
    padding-left: get-vw-768(25px);
    padding-right: get-vw-768(25px);
    background-size: cover;
    background-position: 35% 0;
    &_wrap {
      min-height: get-vw-768(500px);
    }
    &_descr {
      img {
        width: get-vw-768(192px);
        height: get-vw-768(24px);
      }
      h3 {
        font-size: get-vw-768(30px);
        line-height: get-vw-768(40px);
        margin-top: get-vw-768(33px);
        margin-bottom: get-vw-768(20px);
        padding-right: get-vw-768(0px);
      }
      p {
        font-size: get-vw-768(18px);
        line-height: get-vw-768(24px);
        color: rgba(255, 255, 255, 0.5);
        padding-right: get-vw-768(0px);
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .dala_market {
    padding-left: get-vw-600(25px);
    padding-right: get-vw-600(25px);
    background-size: cover;
    background-position: 35% 0;
    &_wrap {
      min-height: get-vw-600(500px);
    }
    &_descr {
      img {
        width: get-vw-600(192px);
        height: get-vw-600(24px);
      }
      h3 {
        font-size: get-vw-600(30px);
        line-height: get-vw-600(40px);
        margin-top: get-vw-600(33px);
        margin-bottom: get-vw-600(20px);
        padding-right: get-vw-600(0px);
      }
      p {
        font-size: get-vw-600(18px);
        line-height: get-vw-600(24px);
        color: rgba(255, 255, 255, 0.5);
        padding-right: get-vw-600(0px);
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .dala_market {
    padding-left: get-vw-480(0px);
    padding-right: get-vw-480(0px);
    background-size: cover;
    background-position: 30% 0;
    &_wrap {
      min-height: get-vw-480(500px);
    }
    &_descr {
      img {
        width: get-vw-480(192px);
        height: get-vw-480(24px);
      }
      h3 {
        font-size: get-vw-480(20px);
        line-height: get-vw-480(30px);
        margin-top: get-vw-480(33px);
        margin-bottom: get-vw-480(20px);
        padding-right: get-vw-480(0px);
      }
      p {
        font-size: get-vw-480(18px);
        line-height: get-vw-480(24px);
        color: rgba(255, 255, 255, 0.5);
        padding-right: get-vw-480(0px);
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .dala_market {
    padding-left: get-vw-360(0px);
    padding-right: get-vw-360(0px);
    background-size: cover;
    background-position: 30% 0;
    &_wrap {
      min-height: get-vw-360(500px);
    }
    &_descr {
      img {
        width: 100%;
        height: get-vw-360(24px);
      }
      h3 {
        font-size: get-vw-360(16px);
        line-height: get-vw-360(30px);
        margin-top: get-vw-360(33px);
        margin-bottom: get-vw-360(20px);
        padding-right: get-vw-360(0px);
      }
      p {
        font-size: get-vw-360(14px);
        line-height: get-vw-360(20px);
        color: rgba(255, 255, 255, 0.5);
        padding-right: get-vw-360(0px);
      }
    }
  }
}
</style>
