<template>
<section class="home_slider" style="background-image: url('media/images/home_slider_bg.png')">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 " style="padding: 0px;">
          <div class="home_slider_arrow">
            <a href="javascript:void(0);" class="home_slider_arrow_prev">
              <img src="media/images/prev.svg" alt="">
            </a>
            <a href="javascript:void(0);" class="home_slider_arrow_next">
              <img src="media/images/next.svg" alt="">
            </a>
          </div>
          <div class="home_slider_wrap">
            <div class="home_slider_img">
              <img src="media/images/zapravka.png" alt="">
            </div>
            <div class="home_slider_descr">
              <img src="media/images/qazaqoil.svg" alt="">
              <h3>Предоставляем высококачественное топливо и услуги</h3>
              <p>По доступным ценам в любой точке Казахстана</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '../../assets/text.scss';

.home_slider {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: get-vw-1440(712px);
  padding-left: get-vw-1440(150px);
  padding-right: get-vw-1440(150px);
  position: relative;
  &_arrow {
    position: absolute;
    top: get-vw-1440(108px);
    left: 45%;
    transform: translateX(45%);
    display: flex;
    &_prev {
      display: flex;
      justify-content: center;
      align-items: center;
      width: get-vw-1440(36px);
      height: get-vw-1440(36px);
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 50%;
      padding: get-vw-1440(11px);
      margin-right: get-vw-1440(10px);
      img {
        width: get-vw-1440(14px);
        height: get-vw-1440(14px);
      }
    }
    &_next {
      display: flex;
      justify-content: center;
      align-items: center;
      width: get-vw-1440(36px);
      height: get-vw-1440(36px);
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 50%;
      padding: get-vw-1440(11px);
      img {
        width: get-vw-1440(14px);
        height: get-vw-1440(14px);
      }
    }
  }
  &_wrap {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &_img {
    img {
      margin-top: get-vw-1440(62px);
      width: get-vw-1440(213px);
      height: get-vw-1440(650px);
    }
  }
  &_descr {
    padding-left: get-vw-1440(82px);
    img {
      width: get-vw-1440(168px);
      height: get-vw-1440(32px);
    }
    h3 {
      font-family: 'Gilroy';
      font-weight: 800;
      font-size: get-vw-1440(36px);
      line-height: get-vw-1440(48px);
      letter-spacing: 0.03em;
      color: #000000;
      padding-top: get-vw-1440(30px);
    }
    p {
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: get-vw-1440(20px);
      line-height: get-vw-1440(30px);
      letter-spacing: 0.05em;
      color: #000000;
      padding-top: get-vw-1440(40px);
    }
  }
}

// Media queries on Tablet's and Phone's >

@media screen and (max-width: 768px) {
  .home_slider {
    min-height: get-vw-768(712px);
    padding-left: get-vw-768(25px);
    padding-right: get-vw-768(25px);
    &_arrow {
      top: get-vw-768(108px);
      left: 70%;
      transform: translateX(45%);
      &_prev {
        width: get-vw-768(36px);
        height: get-vw-768(36px);
        padding: get-vw-768(11px);
        margin-right: get-vw-768(10px);
        img {
          width: get-vw-768(14px);
          height: get-vw-768(14px);
        }
      }
      &_next {
        width: get-vw-768(36px);
        height: get-vw-768(36px);
        padding: get-vw-768(11px);
        img {
          width: get-vw-768(14px);
          height: get-vw-768(14px);
        }
      }
    }
    &_img {
      img {
        margin-top: get-vw-768(62px);
        width: get-vw-768(213px);
        height: get-vw-768(650px);
      }
    }
    &_descr {
      padding-left: get-vw-768(82px);
      img {
        width: get-vw-768(168px);
        height: get-vw-768(32px);
      }
      h3 {
        font-size: get-vw-768(36px);
        line-height: get-vw-768(48px);
        padding-top: get-vw-768(30px);
      }
      p {
        font-size: get-vw-768(20px);
        line-height: get-vw-768(30px);
        padding-top: get-vw-768(40px);
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .home_slider {
    min-height: get-vw-600(712px);
    padding-left: get-vw-600(25px);
    padding-right: get-vw-600(25px);
    &_arrow {
      top: get-vw-600(108px);
      left: 45%;
      transform: translateX(45%);
      &_prev {
        width: get-vw-600(36px);
        height: get-vw-600(36px);
        padding: get-vw-600(11px);
        margin-right: get-vw-600(10px);
        img {
          width: get-vw-600(14px);
          height: get-vw-600(14px);
        }
      }
      &_next {
        width: get-vw-600(36px);
        height: get-vw-600(36px);
        padding: get-vw-600(11px);
        img {
          width: get-vw-600(14px);
          height: get-vw-600(14px);
        }
      }
    }
    &_img {
      img {
        margin-top: get-vw-600(62px);
        width: get-vw-600(213px);
        height: get-vw-600(650px);
      }
    }
    &_descr {
      padding-left: get-vw-600(20px);
      img {
        width: get-vw-600(168px);
        height: get-vw-600(32px);
      }
      h3 {
        font-size: get-vw-600(20px);
        line-height: get-vw-600(30px);
        padding-top: get-vw-600(30px);
      }
      p {
        font-size: get-vw-600(20px);
        line-height: get-vw-600(30px);
        padding-top: get-vw-600(40px);
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .home_slider {
    min-height: get-vw-480(712px);
    padding-left: get-vw-480(25px);
    padding-right: get-vw-480(25px);
    &_arrow {
      top: get-vw-480(108px);
      left: 35%;
      transform: translateX(45%);
      &_prev {
        width: get-vw-480(36px);
        height: get-vw-480(36px);
        padding: get-vw-480(11px);
        margin-right: get-vw-480(10px);
        img {
          width: get-vw-480(14px);
          height: get-vw-480(14px);
        }
      }
      &_next {
        width: get-vw-480(36px);
        height: get-vw-480(36px);
        padding: get-vw-480(11px);
        img {
          width: get-vw-480(14px);
          height: get-vw-480(14px);
        }
      }
    }
    &_img {
      img {
        margin-top: get-vw-480(195px);
        min-height: get-vw-480(350px);
      }
    }
    &_descr {
      padding-left: get-vw-480(20px);
      img {
        height: get-vw-480(32px);
      }
      h3 {
        font-size: get-vw-480(20px);
        line-height: get-vw-480(30px);
        padding-top: get-vw-480(30px);
      }
      p {
        font-size: get-vw-480(20px);
        line-height: get-vw-480(30px);
        padding-top: get-vw-480(40px);
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .home_slider {
    min-height: get-vw-360(500px);
    padding-left: get-vw-360(25px);
    padding-right: get-vw-360(25px);
    &_arrow {
      top: get-vw-360(50px);
      left: 35%;
      transform: translateX(45%);
      &_prev {
        width: get-vw-360(36px);
        height: get-vw-360(36px);
        padding: get-vw-360(11px);
        margin-right: get-vw-360(10px);
        img {
          width: get-vw-360(14px);
          height: get-vw-360(14px);
        }
      }
      &_next {
        width: get-vw-360(36px);
        height: get-vw-360(36px);
        padding: get-vw-360(11px);
        img {
          width: get-vw-360(14px);
          height: get-vw-360(14px);
        }
      }
    }
    &_img {
      img {
        margin-top: get-vw-360(110px);
        min-height: get-vw-360(350px);
      }
    }
    &_descr {
      padding-left: get-vw-360(20px);
      img {
        height: get-vw-360(32px);
      }
      h3 {
        font-size: get-vw-360(17px);
        line-height: get-vw-360(25px);
        padding-top: get-vw-360(30px);
      }
      p {
        font-size: get-vw-360(20px);
        line-height: get-vw-360(30px);
        padding-top: get-vw-360(40px);
      }
    }
  }
}
</style>
