<template>
    <section class="about">
        <div class="container-fluid">
        <div class="row about_wrap">
            <div class="col-md-2" style="padding: 0;">
            <div class="about_title">
                <h3>Коротко о нас</h3>
                <a href="javascript:void(0);" class="about_title__btn">подробная информация</a>
            </div>
            </div>
            <div class="col-md-7" style="padding: 0;">
            <div class="about_descr">
                <p>Управляем крупнейшей сетью автозаправочных станций под брендом «QAZAQ OIL» в Республике Казахстан</p>
                <p>Каждая пятая машина в стране заправляется в нашей сети, которая насчитывает 344 действующих АЗС</p>
                <p>Наша миссия предоставлять высококачественное топливо и услуги по доступным ценам в любой точке Казахстана</p>
            </div>
            </div>
            <div class="col-md-3" style="padding: 0;">
            <div class="about_director">
                <h3>Шотанов Тулемис Садыкович</h3>
                <p>Генеральный директор </p>
                <img src="/media/images/director.png" alt="">
            </div>
            </div>
        </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '../../assets/text.scss';

.about {
  padding-left: get-vw-1440(150px);
  padding-right: get-vw-1440(150px);
  background-image: url('/media/images/about_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  &_director {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: get-vw-1440(20px);
    h3 {
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: get-vw-1440(20px);
      line-height: get-vw-1440(30px);
      letter-spacing: 0.05em;
      color: #000000;
    }
    p {
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: get-vw-1440(10px);
      line-height: get-vw-1440(20px);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #000000;
      opacity: 0.3;
    }
    img {
      width: get-vw-1440(150px);
      height: get-vw-1440(52px);
    }
  }
  &_descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
    padding-left: get-vw-1440(98px);
    p {
      font-family: 'Open Sans';
      font-size: get-vw-1440(14px);
      line-height: get-vw-1440(20px);
      letter-spacing: 0.05em;
      color: #000000;
    }
  }
  &_wrap {
    min-height: get-vw-1440(441px);
  }
  &_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    h3 {
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: get-vw-1440(38px);
      line-height: get-vw-1440(48px);
      letter-spacing: 0.05em;
      color: #000000;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 0px;
        bottom: get-vw-1440(-30px);
        width: get-vw-1440(30px);
        height: get-vw-1440(2px);
        background: #F44611;
      }
    }
    &__btn {
      margin-top: get-vw-1440(88px);
      width: get-vw-1440(195px);
      height: get-vw-1440(36px);
      background: #F44611;
      border-radius: get-vw-1440(18px);
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: get-vw-1440(10px);
      line-height: get-vw-1440(20px);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding-left: get-vw-768(25px);
    padding-right: get-vw-768(25px);
    &_director {
      padding-left: get-vw-768(20px);
      h3 {
        font-size: get-vw-768(20px);
        line-height: get-vw-768(30px);
      }
      p {
        font-size: get-vw-768(10px);
        line-height: get-vw-768(20px);
      }
      img {
        width: get-vw-768(150px);
        height: get-vw-768(52px);
      }
    }
    &_descr {
      padding-left: get-vw-768(98px);
      p {
        font-size: get-vw-768(14px);
        line-height: get-vw-768(20px);
      }
    }
    &_wrap {
      min-height: get-vw-768(441px);
    }
    &_title {
      h3 {
        font-size: get-vw-768(38px);
        line-height: get-vw-768(48px);
        &::after {
          bottom: get-vw-768(-30px);
          width: get-vw-768(30px);
          height: get-vw-768(2px);
        }
      }
      &__btn {
        margin-top: get-vw-768(88px);
        width: get-vw-768(195px);
        height: get-vw-768(36px);
        border-radius: get-vw-768(18px);
        font-size: get-vw-768(10px);
        line-height: get-vw-768(20px);
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .about {
    padding-left: get-vw-600(25px);
    padding-right: get-vw-600(25px);
    padding-top: get-vw-600(25px);
    &_director {
      padding-left: get-vw-600(0px);
      h3 {
        font-size: get-vw-600(20px);
        line-height: get-vw-600(30px);
      }
      p {
        font-size: get-vw-600(10px);
        line-height: get-vw-600(20px);
      }
      img {
        width: get-vw-600(150px);
        height: get-vw-600(52px);
      }
    }
    &_descr {
      padding-left: get-vw-600(0px);
      p {
        font-size: get-vw-600(14px);
        line-height: get-vw-600(20px);
      }
    }
    &_wrap {
      min-height: get-vw-600(441px);
    }
    &_title {
      h3 {
        font-size: get-vw-600(38px);
        line-height: get-vw-600(48px);
        &::after {
          bottom: get-vw-600(-30px);
          width: get-vw-600(30px);
          height: get-vw-600(2px);
        }
      }
      &__btn {
        margin-top: get-vw-600(35px);
        margin-bottom: get-vw-600(35px);
        width: get-vw-600(195px);
        height: get-vw-600(36px);
        border-radius: get-vw-600(18px);
        font-size: get-vw-600(10px);
        line-height: get-vw-600(20px);
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .about {
    padding-left: get-vw-480(25px);
    padding-right: get-vw-480(25px);
    padding-top: get-vw-480(25px);
    &_director {
      padding-left: get-vw-480(0px);
      h3 {
        font-size: get-vw-480(20px);
        line-height: get-vw-480(30px);
      }
      p {
        font-size: get-vw-480(10px);
        line-height: get-vw-480(20px);
      }
      img {
        width: get-vw-480(150px);
        height: get-vw-480(52px);
      }
    }
    &_descr {
      padding-left: get-vw-480(0px);
      p {
        font-size: get-vw-480(14px);
        line-height: get-vw-480(20px);
      }
    }
    &_wrap {
      min-height: get-vw-480(441px);
    }
    &_title {
      h3 {
        font-size: get-vw-480(38px);
        line-height: get-vw-480(48px);
        &::after {
          bottom: get-vw-480(-30px);
          width: get-vw-480(30px);
          height: get-vw-480(2px);
        }
      }
      &__btn {
        margin-top: get-vw-480(35px);
        margin-bottom: get-vw-480(35px);
        width: get-vw-480(195px);
        height: get-vw-480(36px);
        border-radius: get-vw-480(18px);
        font-size: get-vw-480(10px);
        line-height: get-vw-480(20px);
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .about {
    padding-left: get-vw-360(25px);
    padding-right: get-vw-360(25px);
    padding-top: get-vw-360(25px);
    &_director {
      padding-left: get-vw-360(0px);
      h3 {
        font-size: get-vw-360(20px);
        line-height: get-vw-360(30px);
      }
      p {
        font-size: get-vw-360(10px);
        line-height: get-vw-360(20px);
      }
      img {
        width: get-vw-360(150px);
        height: get-vw-360(52px);
      }
    }
    &_descr {
      padding-left: get-vw-360(0px);
      p {
        font-size: get-vw-360(14px);
        line-height: get-vw-360(20px);
      }
    }
    &_wrap {
      min-height: get-vw-360(441px);
    }
    &_title {
      h3 {
        font-size: get-vw-360(38px);
        line-height: get-vw-360(48px);
        &::after {
          bottom: get-vw-360(-30px);
          width: get-vw-360(30px);
          height: get-vw-360(2px);
        }
      }
      &__btn {
        margin-top: get-vw-360(55px);
        margin-bottom: get-vw-360(35px);
        width: get-vw-360(195px);
        height: get-vw-360(36px);
        border-radius: get-vw-360(18px);
        font-size: get-vw-360(10px);
        line-height: get-vw-360(20px);
      }
    }
  }
}
</style>
