<template>
<section class="set_azs">
    <div class="container-fluid">
      <div class="row set_azs_wrap">
        <div class="col-md-3">
          <div class="set_azs_title">
            <div class="set_azs_title__h3">
              <h3>Сеть АЗС</h3>
            </div>
            <div class="set_azs_title__descr_wrap">
              <div class="set_azs_title__descr">
                <img src="media/images/azs_map.svg" alt="">
              </div>
              <div class="set_azs_title__geo">
                <div class="set_azs_title__geo__img">
                  <img src="media/images/geo_black.svg" alt="">
                </div>
                <div class="set_azs_title__geo__text">
                  <h3>344</h3>
                  <span>Действующих АЗС</span>
                </div>
              </div>
            </div>
            <a href="javascript:void(0);" class="set_azs_title_btn">Посмотреть адреса</a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="set_azs_blocks">
            <div class="set_azs_blocks_img">
              <img src="media/images/bonus_card.png" alt="">
            </div>
            <div class="set_azs_blocks_title">
              <h3>Бонусные карты</h3>
            </div>
            <div class="set_azs_blocks_descr">
              <ul>
                <li><a href="javascript:void(0);">500 бонусов в подарок при регистрации</a></li>
                <li><a href="javascript:void(0);">2% бонусов с каждой покупки</a></li>
                <li><a href="javascript:void(0);">Расплачивайтесь бонусами на АЗС</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="set_azs_blocks">
            <div class="set_azs_blocks_img_talon">
              <img src="media/images/talon.png" alt="">
            </div>
            <div class="set_azs_blocks_title">
              <h3>Электронные талоны</h3>
            </div>
            <div class="set_azs_blocks_descr">
              <ul>
                <li><a href="javascript:void(0);">Фиксируйте цену на момент покупки талона</a></li>
                <li><a href="javascript:void(0);">Автоматизированный учет</a></li>
                <li><a href="javascript:void(0);">Скидки от объема</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="set_azs_blocks">
            <div class="set_azs_blocks_img">
              <img src="media/images/bonus_card.png" alt="">
            </div>
            <div class="set_azs_blocks_title">
              <h3>Топливные карты</h3>
            </div>
            <div class="set_azs_blocks_descr">
              <ul>
                <li><a href="javascript:void(0);">Фиксируйте цену сегодня, ловите выгоду завтра</a></li>
                <li><a href="javascript:void(0);">Пополняйте счет онлайн</a></li>
                <li><a href="javascript:void(0);">Устанавливайте лимиты </a></li>
                <li><a href="javascript:void(0);">Полная прозрачность бухгалтерии</a></li>
                <li><a href="javascript:void(0);">Скидки от объема</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '../../assets/text.scss';

.set_azs {
  background-image: url('/media/images/setazs.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: get-vw-1440(150px);
  padding-right: get-vw-1440(150px);
  &_blocks {
    width: 100%;
    height: 100%;
    background: #20214F;
    position: relative;
    border-bottom: get-vw-1440(4px) solid #F44611;
    &::before {
      content: '';
      position: absolute;
      top: get-vw-1440(35px);
      left: get-vw-1440(76px);
      width: get-vw-1440(110px);
      height: get-vw-1440(110px);
      background: #F44611;
      border-radius: 50%;
    }
    &_title {
      h3 {
        font-family: 'Gilroy';
        font-weight: bold;
        font-size: get-vw-1440(20px);
        line-height: get-vw-1440(30px);
        text-align: center;
        letter-spacing: 0.05em;
        color: #F44611;
        padding-top: get-vw-1440(180px);
      }
    }
    &_descr {
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-top: get-vw-1440(20px);
        li {
          display: flex;
          justify-content: center;
          padding: get-vw-1440(18px) 0;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          width: get-vw-1440(200px);
          margin: 0 auto;
          &:last-child {
            border-bottom: none;
          }
          a {
            text-decoration: none;
            font-family: 'Open Sans';
            font-size: get-vw-1440(14px);
            line-height: get-vw-1440(20px);
            text-align: center;
            letter-spacing: 0.05em;
            color: #FFFFFF;
          }
        }
      }
    }
    &_img_talon {
      position: absolute;
      top: get-vw-1440(-65px);
      left: get-vw-1440(-15px);
      img {
        width: get-vw-1440(260px);
        height: get-vw-1440(223px);
      }
    }
    &_img {
      position: absolute;
      top: get-vw-1440(-30px);
      left: get-vw-1440(31px);
      img {
        width: get-vw-1440(200px);
        height: get-vw-1440(145px);
      }
    }
  }
  &_wrap {
    min-height: get-vw-1440(844px);
    padding-top: get-vw-1440(130px);
    padding-bottom: get-vw-1440(140px);
  }
  &_title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &__descr {
      padding-bottom: get-vw-1440(40px);
    }
    &__geo {
      display: flex;
      &__img {
        margin-right: get-vw-1440(20px);
        width: get-vw-1440(36px);
        height: get-vw-1440(36px);
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        img {
          width: get-vw-1440(13px);
          height: get-vw-1440(16px);
        }
      }
      &__text {
        display: flex;
        flex-direction: column;
        h3 {
          font-family: 'Gilroy';
          font-weight: bold;
          font-size: get-vw-1440(20px);
          letter-spacing: 0.05em;
          color: #F44611;
          margin: 0;
        }
        span {
          font-family: 'Open Sans';
          font-size: get-vw-1440(14px);
          line-height: get-vw-1440(20px);
          letter-spacing: 0.05em;
          color: #000000;
        }
      }
    }
    &_btn {
      width: get-vw-1440(195px);
      height: get-vw-1440(36px);
      background: #F44611;
      border-radius: get-vw-1440(18px);
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: get-vw-1440(10px);
      line-height: get-vw-1440(20px);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &_title__h3 {
    h3 {
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: get-vw-1440(36px);
      line-height: get-vw-1440(48px);
      letter-spacing: 0.05em;
      color: #000000;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: get-vw-1440(-45px);
        left: 0;
        width: get-vw-1440(30px);
        height: get-vw-1440(2px);
        background: #F44611;
      }
    }
  }
  &_title__descr {
    img {
      width: get-vw-1440(253px);
      height: get-vw-1440(121px);
    }
  }
}

// Media queries on Tablet's and Phone's >

@media screen and (max-width: 768px) {
  .set_azs {
    padding-left: get-vw-768(25px);
    padding-right: get-vw-768(25px);
    &_blocks {
      border-bottom: get-vw-768(4px) solid #F44611;
      &::before {
        top: get-vw-768(35px);
        left: get-vw-768(25px);
        width: get-vw-768(110px);
        height: get-vw-768(110px);
      }
      &_title {
        h3 {
          font-size: get-vw-768(20px);
          line-height: get-vw-768(30px);
          padding-top: get-vw-768(180px);
        }
      }
      &_descr {
        ul {
          padding-top: get-vw-768(20px);
          li {
            padding: get-vw-768(18px) 0;
            width: 100%;
            a {
              font-size: get-vw-768(14px);
              line-height: get-vw-768(20px);
            }
          }
        }
      }
      &_img_talon {
        top: get-vw-768(-15px);
        left: get-vw-768(-15px);
        img {
          width: 100%;
          height: get-vw-768(150px);
        }
      }
      &_img {
        top: get-vw-768(-10px);
        left: get-vw-768(20px);
        img {
          width: 100%;
          height: get-vw-768(100px);
        }
      }
    }
    &_wrap {
      min-height: get-vw-768(844px);
      padding-top: get-vw-768(130px);
      padding-bottom: get-vw-768(140px);
    }
    &_title {
      &__descr {
        padding-bottom: get-vw-768(40px);
      }
      &__geo {
        &__img {
          margin-right: get-vw-768(20px);
          width: get-vw-768(36px);
          height: get-vw-768(36px);
          img {
            width: get-vw-768(13px);
            height: get-vw-768(16px);
          }
        }
        &__text {
          h3 {
            font-size: get-vw-768(20px);
          }
          span {
            font-size: get-vw-768(14px);
            line-height: get-vw-768(20px);
          }
        }
      }
      &_btn {
        width: 100%;
        height: get-vw-768(36px);
        border-radius: get-vw-768(18px);
        font-size: get-vw-768(10px);
        line-height: get-vw-768(20px);
      }
    }
    &_title__h3 {
      h3 {
        font-size: get-vw-768(36px);
        line-height: get-vw-768(48px);
        &::after {
          bottom: get-vw-768(-45px);
          width: get-vw-768(30px);
          height: get-vw-768(2px);
        }
      }
    }
    &_title__descr {
      img {
        width: 100%;
        height: get-vw-768(121px);
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .set_azs {
    padding-left: get-vw-600(25px);
    padding-right: get-vw-600(25px);
    &_wrap {
      flex-direction: column;
    }
    &_blocks {
      margin-top: get-vw-600(50px);
      border-bottom: get-vw-600(4px) solid #F44611;
      &::before {
        top: get-vw-600(35px);
        left: get-vw-600(140px);
        width: get-vw-600(110px);
        height: get-vw-600(110px);
      }
      &_title {
        h3 {
          font-size: get-vw-600(20px);
          line-height: get-vw-600(30px);
          padding-top: get-vw-600(180px);
        }
      }
      &_descr {
        ul {
          padding-top: get-vw-600(20px);
          li {
            padding: get-vw-600(18px) 0;
            width: 100%;
            a {
              font-size: get-vw-600(14px);
              line-height: get-vw-600(20px);
            }
          }
        }
      }
      &_img_talon {
        top: get-vw-600(-15px);
        left: get-vw-600(50px);
        img {
          width: 80%;
          height: get-vw-600(150px);
        }
      }
      &_img {
        top: get-vw-600(10px);
        left: get-vw-600(85px);
        img {
          width: 80%;
          height: get-vw-600(100px);
        }
      }
    }
    &_wrap {
      min-height: get-vw-600(844px);
      padding-top: get-vw-600(130px);
      padding-bottom: get-vw-600(140px);
    }
    &_title {
      &__descr {
        padding-bottom: get-vw-600(40px);
      }
      &__geo {
        &__img {
          margin-right: get-vw-600(20px);
          width: get-vw-600(36px);
          height: get-vw-600(36px);
          img {
            width: get-vw-600(13px);
            height: get-vw-600(16px);
          }
        }
        &__text {
          h3 {
            font-size: get-vw-600(20px);
          }
          span {
            font-size: get-vw-600(14px);
            line-height: get-vw-600(20px);
          }
        }
      }
      &_btn {
        margin-top: get-vw-600(35px);
        width: 100%;
        height: get-vw-600(36px);
        border-radius: get-vw-600(18px);
        font-size: get-vw-600(10px);
        line-height: get-vw-600(20px);
      }
    }
    &_title__h3 {
      h3 {
        font-size: get-vw-600(36px);
        line-height: get-vw-600(48px);
        &::after {
          bottom: get-vw-600(-45px);
          width: get-vw-600(30px);
          height: get-vw-600(2px);
        }
      }
    }
    &_title__descr {
      img {
        width: 100%;
        height: get-vw-600(121px);
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .set_azs {
    padding-left: get-vw-480(25px);
    padding-right: get-vw-480(25px);
    &_wrap {
      flex-direction: column;
    }
    &_blocks {
      margin-top: get-vw-480(50px);
      border-bottom: get-vw-480(4px) solid #F44611;
      &::before {
        top: get-vw-480(35px);
        left: get-vw-480(140px);
        width: get-vw-480(110px);
        height: get-vw-480(110px);
      }
      &_title {
        h3 {
          font-size: get-vw-480(20px);
          line-height: get-vw-480(30px);
          padding-top: get-vw-480(180px);
        }
      }
      &_descr {
        ul {
          padding-top: get-vw-480(20px);
          li {
            padding: get-vw-480(18px) 0;
            width: 100%;
            a {
              font-size: get-vw-480(14px);
              line-height: get-vw-480(20px);
            }
          }
        }
      }
      &_img_talon {
        top: get-vw-480(-15px);
        left: get-vw-480(50px);
        img {
          width: 80%;
          height: get-vw-480(150px);
        }
      }
      &_img {
        top: get-vw-480(10px);
        left: get-vw-480(85px);
        img {
          width: 80%;
          height: get-vw-480(100px);
        }
      }
    }
    &_wrap {
      min-height: get-vw-480(844px);
      padding-top: get-vw-480(130px);
      padding-bottom: get-vw-480(140px);
    }
    &_title {
      &__descr {
        padding-bottom: get-vw-480(40px);
      }
      &__geo {
        &__img {
          margin-right: get-vw-480(20px);
          width: get-vw-480(36px);
          height: get-vw-480(36px);
          img {
            width: get-vw-480(13px);
            height: get-vw-480(16px);
          }
        }
        &__text {
          h3 {
            font-size: get-vw-480(20px);
          }
          span {
            font-size: get-vw-480(14px);
            line-height: get-vw-480(20px);
          }
        }
      }
      &_btn {
        margin-top: get-vw-480(35px);
        width: 100%;
        height: get-vw-480(36px);
        border-radius: get-vw-480(18px);
        font-size: get-vw-480(10px);
        line-height: get-vw-480(20px);
      }
    }
    &_title__h3 {
      h3 {
        font-size: get-vw-480(36px);
        line-height: get-vw-480(48px);
        &::after {
          bottom: get-vw-480(-45px);
          width: get-vw-480(30px);
          height: get-vw-480(2px);
        }
      }
    }
    &_title__descr {
      img {
        width: 100%;
        height: get-vw-480(121px);
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .set_azs {
    padding-left: get-vw-360(25px);
    padding-right: get-vw-360(25px);
    &_wrap {
      flex-direction: column;
    }
    &_blocks {
      margin-top: get-vw-360(50px);
      border-bottom: get-vw-360(4px) solid #F44611;
      &::before {
        top: get-vw-360(35px);
        left: get-vw-360(85px);
        width: get-vw-360(110px);
        height: get-vw-360(110px);
      }
      &_title {
        h3 {
          font-size: get-vw-360(20px);
          line-height: get-vw-360(30px);
          padding-top: get-vw-360(180px);
        }
      }
      &_descr {
        ul {
          padding-top: get-vw-360(20px);
          li {
            padding: get-vw-360(18px) 0;
            width: 100%;
            a {
              font-size: get-vw-360(14px);
              line-height: get-vw-360(20px);
            }
          }
        }
      }
      &_img_talon {
        top: get-vw-360(-15px);
        left: get-vw-360(50px);
        img {
          width: 80%;
          height: get-vw-360(150px);
        }
      }
      &_img {
        top: get-vw-360(10px);
        left: get-vw-360(85px);
        img {
          width: 80%;
          height: get-vw-360(100px);
        }
      }
    }
    &_wrap {
      min-height: get-vw-360(844px);
      padding-top: get-vw-360(130px);
      padding-bottom: get-vw-360(140px);
    }
    &_title {
      &__descr {
        padding-bottom: get-vw-360(40px);
      }
      &__geo {
        &__img {
          margin-right: get-vw-360(20px);
          width: get-vw-360(36px);
          height: get-vw-360(36px);
          img {
            width: get-vw-360(13px);
            height: get-vw-360(16px);
          }
        }
        &__text {
          h3 {
            font-size: get-vw-360(20px);
          }
          span {
            font-size: get-vw-360(14px);
            line-height: get-vw-360(20px);
          }
        }
      }
      &_btn {
        margin-top: get-vw-360(35px);
        width: 100%;
        height: get-vw-360(36px);
        border-radius: get-vw-360(18px);
        font-size: get-vw-360(10px);
        line-height: get-vw-360(20px);
      }
    }
    &_title__h3 {
      h3 {
        font-size: get-vw-360(36px);
        line-height: get-vw-360(48px);
        &::after {
          bottom: get-vw-360(-45px);
          width: get-vw-360(30px);
          height: get-vw-360(2px);
        }
      }
    }
    &_title__descr {
      img {
        width: 100%;
        height: get-vw-360(121px);
      }
    }
  }
}
</style>
