<template>
<section class="our_values">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 our_values_title_wrap">
          <div class="our_values_title">
            <h3>Наши ценности</h3>
          </div>
          <div class="our_values_btn">
            <a href="javascript:void(0);">Подробнее о маркете</a>
          </div>
        </div>
        <div class="col-md-9" style="padding: 0;">
          <div class="row">
            <div class="col-md-4 our_values_blocks">
              <div class="our_values_blocks_img">
                <img src="media/images/smartphone_icon.svg" alt="">
              </div>
              <div class="our_values_blocks_content">
                <h3>Заливай на мобилу</h3>
                <p>Оставаться на «связи» очень просто, принимай участие в акции «Заливай на мобилу» во всех АЗС сети QAZAQ OIL</p>
              </div>
            </div>
            <div class="col-md-4 our_values_blocks">
              <div class="our_values_blocks_img">
                <img src="media/images/fuel_icon.svg" alt="">
              </div>
              <div class="our_values_blocks_content">
                <h3>Качественное топливо</h3>
                <p>Создана и эффективно действует система сквозного контроля качества нефтепродуктов на всех этапах ее реализации</p>
              </div>
            </div>
            <div class="col-md-4 our_values_blocks">
              <div class="our_values_blocks_img">
                <img src="media/images/oil_icon.svg" alt="">
              </div>
              <div class="our_values_blocks_content">
                <h3>Скидка от объема</h3>
                <p>Покупайте от 20-ти литров топлива и получайте скидку в минус 3 тенге за литр!</p>
              </div>
            </div>
            <div class="col-md-4 our_values_blocks">
              <div class="our_values_blocks_img">
                <img src="media/images/petrol_icon.svg" alt="">
              </div>
              <div class="our_values_blocks_content">
                <h3>Сеть АЗС</h3>
                <p>Для клиентов на АЗС функционируют полноценные магазины с товарами народного потребления</p>
              </div>
            </div>
            <div class="col-md-4 our_values_blocks">
              <div class="our_values_blocks_img">
                <img src="media/images/camera_icon.svg" alt="">
              </div>
              <div class="our_values_blocks_content">
                <h3>Безопасность</h3>
                <p>Уделяем повышенное внимание соблюдению правил безопасности труда и охраны</p>
              </div>
            </div>
            <div class="col-md-4 our_values_blocks">
              <div class="our_values_blocks_img">
                <img src="media/images/customer_icon.svg" alt="">
              </div>
              <div class="our_values_blocks_content">
                <h3>Телефон доверия</h3>
                <p>Куда вы можете обратиться по вопросам качества обслуживания, некорректного поведения сотрудников и т.п.L</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '../../assets/text.scss';
.our_values {
  min-height: get-vw-1440(854px);
  background-image: url('/media/images/our_values_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: get-vw-1440(150px);
  padding-right: get-vw-1440(150px);
  padding-top: get-vw-1440(130px);
  padding-bottom: get-vw-1440(140px);
  &_title_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &_blocks {
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      padding-bottom: get-vw-1440(80px);
    }
    &_img {
      width: get-vw-1440(70px);
      height: get-vw-1440(70px);
      background: #F44611;
      border-radius: 50%;
      img {
        margin-top: get-vw-1440(-10px);
        height: get-vw-1440(64px);
        width: get-vw-1440(64px);
      }
    }
    &_content {
      h3 {
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: get-vw-1440(18px);
        line-height: get-vw-1440(24px);
        letter-spacing: 0.05em;
        color: #000000;
        padding-top: get-vw-1440(28px);
        padding-bottom: get-vw-1440(40px);
        margin-bottom: get-vw-1440(40px);
        position: relative;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: get-vw-1440(30px);
          height: get-vw-1440(2px);
          background: #F44611;
        }
      }
      p {
        font-family: 'Open Sans';
        font-size: get-vw-1440(14px);
        line-height: get-vw-1440(20px);
        letter-spacing: 0.05em;
        color: #82898F;
      }
    }
  }

  &_title {
    h3 {
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: get-vw-1440(36px);
      line-height: get-vw-1440(48px);
      letter-spacing: 0.05em;
      color: #000000;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: get-vw-1440(-30px);
        width: get-vw-1440(30px);
        height: get-vw-1440(2px);
        background: #F44611;
      }
    }
  }
  &_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: get-vw-1440(195px);
    height: get-vw-1440(36px);
    border-radius: get-vw-1440(18px);
    background: #F44611;
    margin-bottom: get-vw-1440(18px);
    a {
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: get-vw-1440(10px);
      line-height: get-vw-1440(20px);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
}

// Media queries on Tablet's and Phone's >

@media screen and (max-width: 768px) {
  .our_values {
    min-height: get-vw-768(854px);
    padding-left: get-vw-768(25px);
    padding-right: get-vw-768(25px);
    padding-top: get-vw-768(130px);
    padding-bottom: get-vw-768(140px);
    &_blocks {
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        padding-bottom: get-vw-768(80px);
      }
      &_img {
        width: get-vw-768(70px);
        height: get-vw-768(70px);
        img {
          margin-top: get-vw-768(-10px);
          height: get-vw-768(64px);
          width: get-vw-768(64px);
        }
      }
      &_content {
        h3 {
          font-size: get-vw-768(18px);
          line-height: get-vw-768(24px);
          padding-top: get-vw-768(28px);
          padding-bottom: get-vw-768(40px);
          margin-bottom: get-vw-768(40px);
          &::after {
            width: get-vw-768(30px);
            height: get-vw-768(2px);
          }
        }
        p {
          font-size: get-vw-768(14px);
          line-height: get-vw-768(20px);
        }
      }
    }

    &_title {
      h3 {
        font-size: get-vw-768(30px);
        line-height: get-vw-768(48px);
        &::after {
          bottom: get-vw-768(-30px);
          width: get-vw-768(30px);
          height: get-vw-768(2px);
        }
      }
    }
    &_btn {
      width: 100%;
      height: get-vw-768(36px);
      border-radius: get-vw-768(18px);
      margin-bottom: get-vw-768(0px);
      a {
        font-size: get-vw-768(10px);
        line-height: get-vw-768(20px);
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .our_values {
    min-height: get-vw-600(854px);
    padding-left: get-vw-600(25px);
    padding-right: get-vw-600(25px);
    padding-top: get-vw-600(130px);
    padding-bottom: get-vw-600(140px);
    &_blocks {
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        padding-bottom: get-vw-600(80px);
      }
      &_img {
        width: get-vw-600(70px);
        height: get-vw-600(70px);
        img {
          margin-top: get-vw-600(-10px);
          height: get-vw-600(64px);
          width: get-vw-600(64px);
        }
      }
      &_content {
        h3 {
          font-size: get-vw-600(18px);
          line-height: get-vw-600(24px);
          padding-top: get-vw-600(28px);
          padding-bottom: get-vw-600(40px);
          margin-bottom: get-vw-600(40px);
          &::after {
            width: get-vw-600(30px);
            height: get-vw-600(2px);
          }
        }
        p {
          font-size: get-vw-600(14px);
          line-height: get-vw-600(20px);
        }
      }
    }

    &_title {
      h3 {
        font-size: get-vw-600(30px);
        line-height: get-vw-600(48px);
        &::after {
          bottom: get-vw-600(-30px);
          width: get-vw-600(30px);
          height: get-vw-600(2px);
        }
      }
    }
    &_btn {
      width: 100%;
      height: get-vw-600(36px);
      border-radius: get-vw-600(18px);
      margin-top: get-vw-600(40px);
      margin-bottom: get-vw-600(35px);
      a {
        font-size: get-vw-600(10px);
        line-height: get-vw-600(20px);
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .our_values {
    min-height: get-vw-480(854px);
    padding-left: get-vw-480(25px);
    padding-right: get-vw-480(25px);
    padding-top: get-vw-480(130px);
    padding-bottom: get-vw-480(140px);
    &_blocks {
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        padding-bottom: get-vw-480(80px);
      }
      &_img {
        width: get-vw-480(70px);
        height: get-vw-480(70px);
        img {
          margin-top: get-vw-480(-10px);
          height: get-vw-480(64px);
          width: get-vw-480(64px);
        }
      }
      &_content {
        h3 {
          font-size: get-vw-480(18px);
          line-height: get-vw-480(24px);
          padding-top: get-vw-480(28px);
          padding-bottom: get-vw-480(40px);
          margin-bottom: get-vw-480(40px);
          &::after {
            width: get-vw-480(30px);
            height: get-vw-480(2px);
          }
        }
        p {
          font-size: get-vw-480(14px);
          line-height: get-vw-480(20px);
        }
      }
    }

    &_title {
      h3 {
        font-size: get-vw-480(30px);
        line-height: get-vw-480(48px);
        &::after {
          bottom: get-vw-480(-30px);
          width: get-vw-480(30px);
          height: get-vw-480(2px);
        }
      }
    }
    &_btn {
      width: 100%;
      height: get-vw-480(36px);
      border-radius: get-vw-480(18px);
      margin-top: get-vw-480(40px);
      margin-bottom: get-vw-480(35px);
      a {
        font-size: get-vw-480(10px);
        line-height: get-vw-480(20px);
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .our_values {
    min-height: get-vw-360(854px);
    padding-left: get-vw-360(25px);
    padding-right: get-vw-360(25px);
    padding-top: get-vw-360(130px);
    padding-bottom: get-vw-360(140px);
    &_blocks {
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        padding-bottom: get-vw-360(80px);
      }
      &_img {
        width: get-vw-360(70px);
        height: get-vw-360(70px);
        img {
          margin-top: get-vw-360(-10px);
          height: get-vw-360(64px);
          width: get-vw-360(64px);
        }
      }
      &_content {
        h3 {
          font-size: get-vw-360(18px);
          line-height: get-vw-360(24px);
          padding-top: get-vw-360(28px);
          padding-bottom: get-vw-360(40px);
          margin-bottom: get-vw-360(40px);
          &::after {
            width: get-vw-360(30px);
            height: get-vw-360(2px);
          }
        }
        p {
          font-size: get-vw-360(14px);
          line-height: get-vw-360(20px);
        }
      }
    }

    &_title {
      h3 {
        font-size: get-vw-360(30px);
        line-height: get-vw-360(48px);
        &::after {
          bottom: get-vw-360(-30px);
          width: get-vw-360(30px);
          height: get-vw-360(2px);
        }
      }
    }
    &_btn {
      width: 100%;
      height: get-vw-360(36px);
      border-radius: get-vw-360(18px);
      margin-top: get-vw-360(40px);
      margin-bottom: get-vw-360(35px);
      a {
        font-size: get-vw-360(10px);
        line-height: get-vw-360(20px);
      }
    }
  }
}
</style>
