<template>
<section class="leaders">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="leaders_title">
            <h3>Руководство</h3>
          </div>
        </div>
        <div class="row leaders_descr">
          <div class="col-md-3 leaders_descr_wrap">
            <div class="leaders_descr_img">
              <img src="media/images/user_icon.svg" alt="">
            </div>
            <div class="leaders_descr_content">
              <h3>Шотанов Тулемис Садыкович</h3>
              <p>Генеральный директор </p>
            </div>
          </div>
          <div class="col-md-3 leaders_descr_wrap">
            <div class="leaders_descr_img">
              <img src="media/images/user_icon.svg" alt="">
            </div>
            <div class="leaders_descr_content">
              <h3>Калиев Абибулла Рахматтуллаевич</h3>
              <p>Заместитель Генерального директора по производству</p>
            </div>
          </div>
          <div class="col-md-3 leaders_descr_wrap">
            <div class="leaders_descr_img">
              <img src="media/images/user_icon.svg" alt="">
            </div>
            <div class="leaders_descr_content">
              <h3>Оспанов Арман Ашимханович</h3>
              <p>Заместитель Генерального директора по развитию</p>
            </div>
          </div>
          <div class="col-md-3 leaders_descr_wrap">
            <div class="leaders_descr_img">
              <img src="media/images/user_icon.svg" alt="">
            </div>
            <div class="leaders_descr_content">
              <h3>Тажкеев Жасын Дюсенбаевич</h3>
              <p>Заместитель Генерального директора по финансам</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '../../assets/text.scss';

.leaders {
  min-height: get-vw-1440(474px);
  background-image: url('/media/images/leadership_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: get-vw-1440(150px);
  padding-right: get-vw-1440(150px);
  padding-top: get-vw-1440(130px);
  &_descr {
    padding-top: get-vw-1440(85px);
    &_wrap {
      display: flex;
    }
    &_content {
      h3 {
        font-family: 'Gilroy';
        font-weight: 600;
        font-size: get-vw-1440(18px);
        line-height: get-vw-1440(24px);
        letter-spacing: 0.05em;
        color: #F44611;
      }
      p {
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: get-vw-1440(12px);
        line-height: get-vw-1440(20px);
        letter-spacing: 0.05em;
        color: #FFFFFF;
      }
    }
    &_img {
      width: get-vw-1440(36px);
      height: get-vw-1440(36px);
      border: get-vw-1440(1px) solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: get-vw-1440(20px);
      padding: get-vw-1440(10px);
      img {
        width: get-vw-1440(13px);
        height: get-vw-1440(15px);
      }
    }
  }
  &_title {
    h3 {
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: get-vw-1440(36px);
      line-height: get-vw-1449(48px);
      letter-spacing: 0.05em;
      color: #FFFFFF;
      position: relative;
      &::before {
        content: '';
        width: get-vw-1440(30px);
        height: get-vw-1440(2px);
        background: #F44611;
        position: absolute;
        bottom: get-vw-1440(-30px);
        left: 0;
      }
    }
  }
}

// Media queries on Tablet's and Phone's >

@media screen and (max-width: 768px) {
  .leaders {
    min-height: get-vw-768(474px);
    padding-left: get-vw-768(25px);
    padding-right: get-vw-768(25px);
    padding-top: get-vw-768(130px);
    &_descr {
      padding-top: get-vw-768(35px);
      &_wrap {
        flex-direction: column;
      }
      &_content {
        h3 {
          font-size: get-vw-768(18px);
          line-height: get-vw-768(24px);
        }
        p {
          font-size: get-vw-768(12px);
          line-height: get-vw-768(20px);
        }
      }
      &_img {
        width: get-vw-768(36px);
        height: get-vw-768(36px);
        border: get-vw-768(1px) solid rgba(255, 255, 255, 0.3);
        margin-right: get-vw-768(20px);
        padding: get-vw-768(10px);
        img {
          width: get-vw-768(13px);
          height: get-vw-768(15px);
        }
      }
    }
    &_title {
      h3 {
        font-size: get-vw-768(36px);
        line-height: get-vw-768(48px);
        &::before {
          width: get-vw-768(30px);
          height: get-vw-768(2px);
          bottom: get-vw-768(-30px);
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .leaders {
    min-height: get-vw-600(474px);
    padding-left: get-vw-600(25px);
    padding-right: get-vw-600(25px);
    padding-top: get-vw-600(130px);
    &_descr {
      padding-top: get-vw-600(85px);
      &_content {
        h3 {
          font-size: get-vw-600(18px);
          line-height: get-vw-600(24px);
        }
        p {
          font-size: get-vw-600(12px);
          line-height: get-vw-600(20px);
        }
      }
      &_img {
        width: get-vw-600(36px);
        height: get-vw-600(36px);
        border: get-vw-600(1px) solid rgba(255, 255, 255, 0.3);
        margin-right: get-vw-600(20px);
        padding: get-vw-600(10px);
        img {
          width: get-vw-600(13px);
          height: get-vw-600(15px);
        }
      }
    }
    &_title {
      h3 {
        font-size: get-vw-600(36px);
        line-height: get-vw-600(48px);
        &::before {
          width: get-vw-600(30px);
          height: get-vw-600(2px);
          bottom: get-vw-600(-30px);
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .leaders {
    min-height: get-vw-480(474px);
    padding-left: get-vw-480(25px);
    padding-right: get-vw-480(25px);
    padding-top: get-vw-480(130px);
    &_descr {
      padding-top: get-vw-480(85px);
      &_content {
        h3 {
          font-size: get-vw-480(18px);
          line-height: get-vw-480(24px);
        }
        p {
          font-size: get-vw-480(12px);
          line-height: get-vw-480(20px);
        }
      }
      &_img {
        width: get-vw-480(36px);
        height: get-vw-480(36px);
        border: get-vw-480(1px) solid rgba(255, 255, 255, 0.3);
        margin-right: get-vw-480(20px);
        padding: get-vw-480(10px);
        img {
          width: get-vw-480(13px);
          height: get-vw-480(15px);
        }
      }
    }
    &_title {
      h3 {
        font-size: get-vw-480(36px);
        line-height: get-vw-480(48px);
        &::before {
          width: get-vw-480(30px);
          height: get-vw-480(2px);
          bottom: get-vw-480(-30px);
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .leaders {
    min-height: get-vw-360(474px);
    padding-left: get-vw-360(25px);
    padding-right: get-vw-360(25px);
    padding-top: get-vw-360(130px);
    &_descr {
      padding-top: get-vw-360(85px);
      &_content {
        h3 {
          font-size: get-vw-360(18px);
          line-height: get-vw-360(24px);
        }
        p {
          font-size: get-vw-360(12px);
          line-height: get-vw-360(20px);
        }
      }
      &_img {
        width: get-vw-360(36px);
        height: get-vw-360(36px);
        border: get-vw-360(1px) solid rgba(255, 255, 255, 0.3);
        margin-right: get-vw-360(20px);
        padding: get-vw-360(10px);
        img {
          width: get-vw-360(13px);
          height: get-vw-360(15px);
        }
      }
    }
    &_title {
      h3 {
        font-size: get-vw-360(36px);
        line-height: get-vw-360(48px);
        &::before {
          width: get-vw-360(30px);
          height: get-vw-360(2px);
          bottom: get-vw-360(-30px);
        }
      }
    }
  }
}
</style>
