<template>
    <section class="blog">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
            <div class="blog_title">
                <h3>Наш блог</h3>
            </div>
            <div class="blog_nav">
                <ul>
                <li class="blog_nav_after"><a href="javascript:void(0);">Анонсы</a></li>
                <li class="blog_nav_after"><a href="javascript:void(0);">Распоряжения</a></li>
                <li class="blog_nav_after"><a href="javascript:void(0);">Акции</a></li>
                <li><a href="javascript:void(0);">Медиатека</a></li>
                </ul>
            </div>
            <a href="javascript:void(0);" class="blog_btn">Открыть весь блог</a>
            </div>
            <div class="col-md-3">
            <div class="blog_blocks">
                <div class="blog_blocks_img">
                <img src="media/images/blog_1.png" alt="">
                </div>
                <div class="blog_blocks_descr">
                <h3>Новости</h3>
                <h2>Друзья, пришло время перемен</h2>
                <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="blog_blocks">
                <div class="blog_blocks_img">
                <img src="media/images/blog_2.png" alt="">
                </div>
                <div class="blog_blocks_descr">
                <h3>Новости</h3>
                <h2>Друзья, пришло время перемен</h2>
                <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                </div>
            </div>
            </div>
            <div class="col-md-3">
            <div class="blog_blocks">
                <div class="blog_blocks_img">
                <img src="media/images/blog_3.png" alt="">
                </div>
                <div class="blog_blocks_descr">
                <h3>Новости</h3>
                <h2>Друзья, пришло время перемен</h2>
                <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '../../assets/text.scss';
.blog {
  min-height: get-vw-1440(776px);
  background-image: url('/media/images/blog_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: get-vw-1440(150px);
  padding-right: get-vw-1440(150px);
  padding-top: get-vw-1440(130px);
  padding-bottom: get-vw-1440(140px);
  &_title {
    h3 {
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: get-vw-1440(36px);
      line-height: get-vw-1440(48px);
      letter-spacing: 0.05em;
      color: #FFFFFF;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: get-vw-1440(-45px);
        left: 0;
        width: get-vw-1440(30px);
        height: get-vw-1440(2px);
        background: #F44611;
      }
    }
  }
  &_btn {
    width: get-vw-1440(195px);
    height: get-vw-1440(36px);
    background: #F44611;
    border-radius: get-vw-1440(18px);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: get-vw-1440(10px);
    line-height: get-vw-1440(20px);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: get-vw-1440(150px);
  }
  &_blocks {
    min-height: get-vw-1440(496px);
    background: #fff;
    border-bottom: get-vw-1440(4px) solid #F44611;
    cursor: pointer;
    &_img {
      height: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    &_descr {
      padding: get-vw-1440(40px);
      h3 {
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: get-vw-1440(10px);
        line-height: get-vw-1440(20px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #F44611;
      }
      h2 {
        font-family: 'Gilroy';
        font-weight: bold;
        font-size: get-vw-1440(20px);
        line-height: get-vw-1440(28px);
        color: #000000;
      }
      p {
        font-family: 'Open Sans';
        font-size: get-vw-1440(14px);
        line-height: get-vw-1440(20px);
        letter-spacing: 0.05em;
        color: #82898F;
      }
    }
  }
  &_nav {
    &_after {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: get-vw-1440(243px);
        height: get-vw-1440(1px);
        background: rgba(255, 255, 255, 0.2);
      }
    }
    ul {
      list-style-image: url('/media/images/blog_elem.svg');
      padding-left: get-vw-1440(13px);
      padding-top: get-vw-1440(65px);
      li {
        padding-left: get-vw-1440(5px);
        a {
          font-family: 'Gilroy';
          font-weight: bold;
          font-size: get-vw-1440(14px);
          line-height: get-vw-1440(60px);
          letter-spacing: 0.05em;
          color: #FFFFFF;
        }
      }
    }
  }
}
// Media queries on Tablet's and Phone's >

@media screen and (max-width: 768px) {
  .blog {
    padding-left: get-vw-768(25px);
    padding-right: get-vw-768(25px);
    padding-top: get-vw-768(130px);
    padding-bottom: get-vw-768(75px);
    &_title {
      h3 {
        font-size: get-vw-768(36px);
        line-height: get-vw-768(48px);
        &::after {
          bottom: get-vw-768(-45px);
          width: get-vw-768(30px);
          height: get-vw-768(2px);
        }
      }
    }
    &_btn {
      width: get-vw-768(195px);
      height: get-vw-768(36px);
      border-radius: get-vw-768(18px);
      font-size: get-vw-768(10px);
      line-height: get-vw-768(20px);
      margin-top: get-vw-768(30px);
    }
    &_blocks {
      border-bottom: get-vw-768(4px) solid #F44611;
      &_descr {
        padding: get-vw-768(5px);
        h3 {
          font-size: get-vw-768(10px);
          line-height: get-vw-768(20px);
          text-align: center;
        }
        h2 {
          font-size: get-vw-768(20px);
          line-height: get-vw-768(28px);
          text-align: center;
        }
        p {
          font-size: get-vw-768(14px);
          line-height: get-vw-768(20px);
        }
      }
    }
    &_nav {
      &_after {
        &::after {
          width: 100%;
          height: get-vw-768(1px);
        }
      }
      ul {
        padding-left: get-vw-768(13px);
        padding-top: get-vw-768(65px);
        li {
          padding-left: get-vw-768(5px);
          a {
            font-size: get-vw-768(14px);
            line-height: get-vw-768(60px);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .blog {
    padding-left: get-vw-600(25px);
    padding-right: get-vw-600(25px);
    padding-top: get-vw-600(130px);
    padding-bottom: get-vw-600(75px);
    &_title {
      h3 {
        font-size: get-vw-600(36px);
        line-height: get-vw-600(48px);
        &::after {
          bottom: get-vw-600(-45px);
          width: get-vw-600(30px);
          height: get-vw-600(2px);
        }
      }
    }
    &_btn {
      width: get-vw-600(195px);
      height: get-vw-600(36px);
      border-radius: get-vw-600(18px);
      font-size: get-vw-600(10px);
      line-height: get-vw-600(20px);
      margin-top: get-vw-600(30px);
      margin-bottom: get-vw-600(30px);
    }
    &_blocks {
      border-bottom: get-vw-600(4px) solid #F44611;
      margin-bottom: get-vw-600(25px);
      &_descr {
        padding: get-vw-600(5px);
        h3 {
          font-size: get-vw-600(10px);
          line-height: get-vw-600(20px);
          text-align: center;
        }
        h2 {
          font-size: get-vw-600(20px);
          line-height: get-vw-600(28px);
          text-align: center;
        }
        p {
          font-size: get-vw-600(14px);
          line-height: get-vw-600(20px);
          padding: 0px get-vw-600(25px);
        }
      }
    }
    &_nav {
      &_after {
        &::after {
          width: 100%;
          height: get-vw-480(1px);
        }
      }
      ul {
        padding-left: get-vw-480(13px);
        padding-top: get-vw-480(65px);
        li {
          padding-left: get-vw-480(5px);
          a {
            font-size: get-vw-480(14px);
            line-height: get-vw-480(60px);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .blog {
    padding-left: get-vw-480(25px);
    padding-right: get-vw-480(25px);
    padding-top: get-vw-480(130px);
    padding-bottom: get-vw-480(75px);
    &_title {
      h3 {
        font-size: get-vw-480(36px);
        line-height: get-vw-480(48px);
        &::after {
          bottom: get-vw-480(-45px);
          width: get-vw-480(30px);
          height: get-vw-480(2px);
        }
      }
    }
    &_btn {
      width: get-vw-480(195px);
      height: get-vw-480(36px);
      border-radius: get-vw-480(18px);
      font-size: get-vw-480(10px);
      line-height: get-vw-480(20px);
      margin-top: get-vw-480(30px);
      margin-bottom: get-vw-480(30px);
    }
    &_blocks {
      border-bottom: get-vw-480(4px) solid #F44611;
      margin-bottom: get-vw-480(25px);
      &_descr {
        padding: get-vw-480(5px);
        h3 {
          font-size: get-vw-480(10px);
          line-height: get-vw-480(20px);
          text-align: center;
        }
        h2 {
          font-size: get-vw-480(20px);
          line-height: get-vw-480(28px);
          text-align: center;
        }
        p {
          font-size: get-vw-480(14px);
          line-height: get-vw-480(20px);
          padding: 0px get-vw-480(25px);
        }
      }
    }
    &_nav {
      &_after {
        &::after {
          width: 100%;
          height: get-vw-480(1px);
        }
      }
      ul {
        padding-left: get-vw-480(13px);
        padding-top: get-vw-480(65px);
        li {
          padding-left: get-vw-480(5px);
          a {
            font-size: get-vw-480(14px);
            line-height: get-vw-480(60px);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .blog {
    padding-left: get-vw-360(25px);
    padding-right: get-vw-360(25px);
    padding-top: get-vw-360(130px);
    padding-bottom: get-vw-360(75px);
    &_title {
      h3 {
        font-size: get-vw-360(36px);
        line-height: get-vw-360(48px);
        &::after {
          bottom: get-vw-360(-45px);
          width: get-vw-360(30px);
          height: get-vw-360(2px);
        }
      }
    }
    &_btn {
      width: get-vw-360(195px);
      height: get-vw-360(36px);
      border-radius: get-vw-360(18px);
      font-size: get-vw-360(10px);
      line-height: get-vw-360(20px);
      margin-top: get-vw-360(30px);
      margin-bottom: get-vw-360(30px);
    }
    &_blocks {
      border-bottom: get-vw-360(4px) solid #F44611;
      margin-bottom: get-vw-360(25px);
      &_descr {
        padding: get-vw-360(5px);
        h3 {
          font-size: get-vw-360(10px);
          line-height: get-vw-360(20px);
          text-align: center;
        }
        h2 {
          font-size: get-vw-360(20px);
          line-height: get-vw-360(28px);
          text-align: center;
        }
        p {
          font-size: get-vw-360(14px);
          line-height: get-vw-360(20px);
          padding: 0px get-vw-360(25px);
        }
      }
    }
    &_nav {
      &_after {
        &::after {
          width: 100%;
          height: get-vw-360(1px);
        }
      }
      ul {
        padding-left: get-vw-360(13px);
        padding-top: get-vw-360(65px);
        li {
          padding-left: get-vw-360(5px);
          a {
            font-size: get-vw-360(14px);
            line-height: get-vw-360(60px);
          }
        }
      }
    }
  }
}

</style>
