<template>
<section class="subscribe">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-6">
          <div class="subscribe_img">
            <img src="/media/images/qazaqoil_foot.png" alt="">
          </div>
        </div>
        <div class="col-md-9 col-6">
          <div class="subscribe_descr">
            <p>Подпишитесь на нашу рассылку новостей, чтобы получать последние новости и обновлени</p>
            <div class="subscribe_descr_inputs">
              <input type="text">
              <a href="javascript:void(0);">Подписаться</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '../../assets/text.scss';
.subscribe {
  min-height: get-vw-1440(393px);
  background-image: url('/media/images/subscribe_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: get-vw-1440(150px);
  padding-right: get-vw-1440(150px);
  &_img {
    margin-top: get-vw-1440(-66px);
    img {
      width: get-vw-1440(213px);
      height: get-vw-1440(459px);
    }
  }
  &_descr {
    padding-top: get-vw-1440(136px);
    p {
      font-family: 'Gilroy';
      font-weight: 600;
      font-size: get-vw-1440(18px);
      line-height: get-vw-1440(24px);
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      color: #FFFFFF;
    }
    &_inputs {
      display: flex;
      align-items: center;
      margin-top: get-vw-1440(25px);
      input {
        width: get-vw-1440(262px);
        height: get-vw-1440(36px);
        background: #FFFFFF;
        border-radius: get-vw-1440(18px);
        padding-left: get-vw-1440(20px);
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: get-vw-1440(10px);
        line-height: get-vw-1440(20px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        margin-right: get-vw-1440(30px);
        &:focus {
          outline: none;
        }
      }
      a {
        width: get-vw-1440(262px);
        height: get-vw-1440(36px);
        background: #F44611;
        border-radius: get-vw-1440(18px);
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: get-vw-1440(10px);
        line-height: get-vw-1440(20px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// Media queries on Tablet's and Phone's >

@media screen and (max-width: 768px) {
  .subscribe {
    min-height: get-vw-768(393px);
    padding-left: get-vw-768(25px);
    padding-right: get-vw-768(25px);
    &_img {
      margin-top: get-vw-768(-66px);
      img {
        width: get-vw-768(213px);
        height: get-vw-768(459px);
      }
    }
    &_descr {
      padding-top: get-vw-768(136px);
      padding-left: get-vw-768(50px);
      p {
        font-size: get-vw-768(18px);
        line-height: get-vw-768(24px);
      }
      &_inputs {
        margin-top: get-vw-768(25px);
        input {
          width: get-vw-768(262px);
          height: get-vw-768(36px);
          border-radius: get-vw-768(18px);
          padding-left: get-vw-768(20px);
          font-size: get-vw-768(10px);
          line-height: get-vw-768(20px);
          margin-right: get-vw-768(30px);
        }
        a {
          width: get-vw-768(262px);
          height: get-vw-768(36px);
          border-radius: get-vw-768(18px);
          font-size: get-vw-768(10px);
          line-height: get-vw-768(20px);
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .subscribe {
    min-height: get-vw-600(393px);
    padding-left: get-vw-600(25px);
    padding-right: get-vw-600(25px);
    &_img {
      margin-top: get-vw-600(0px);
      img {
        width: get-vw-600(213px);
        height: get-vw-600(459px);
      }
    }
    &_descr {
      padding-top: get-vw-600(50px);
      padding-left: get-vw-600(20px);
      p {
        font-size: get-vw-600(18px);
        line-height: get-vw-600(24px);
      }
      &_inputs {
        margin-top: get-vw-600(50px);
        display: flex;
        flex-direction: column;
        input {
          width: 100%;
          height: get-vw-600(36px);
          border-radius: get-vw-600(18px);
          padding-left: get-vw-600(20px);
          font-size: get-vw-600(10px);
          line-height: get-vw-600(20px);
          margin-right: get-vw-600(0px);
        }
        a {
          width: 100%;
          height: get-vw-600(36px);
          border-radius: get-vw-600(18px);
          font-size: get-vw-600(10px);
          line-height: get-vw-600(20px);
          margin-top: get-vw-600(15px);
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .subscribe {
    min-height: get-vw-480(393px);
    padding-left: get-vw-480(25px);
    padding-right: get-vw-480(25px);
    &_img {
      margin-top: get-vw-480(0px);
      img {
        width: get-vw-480(213px);
        height: get-vw-480(459px);
      }
    }
    &_descr {
      padding-top: get-vw-480(50px);
      padding-left: get-vw-480(20px);
      p {
        font-size: get-vw-480(18px);
        line-height: get-vw-480(24px);
      }
      &_inputs {
        margin-top: get-vw-480(50px);
        display: flex;
        flex-direction: column;
        input {
          width: 100%;
          height: get-vw-480(36px);
          border-radius: get-vw-480(18px);
          padding-left: get-vw-480(20px);
          font-size: get-vw-480(10px);
          line-height: get-vw-480(20px);
          margin-right: get-vw-480(0px);
        }
        a {
          width: 100%;
          height: get-vw-480(36px);
          border-radius: get-vw-480(18px);
          font-size: get-vw-480(10px);
          line-height: get-vw-480(20px);
          margin-top: get-vw-480(15px);
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .subscribe {
    min-height: get-vw-360(393px);
    padding-left: get-vw-360(25px);
    padding-right: get-vw-360(25px);
    &_img {
      margin-top: get-vw-360(105px);
      img {
        width: get-vw-360(150px);
        height: get-vw-360(300px);
      }
    }
    &_descr {
      padding-top: get-vw-360(50px);
      padding-left: get-vw-360(20px);
      p {
        font-size: get-vw-360(18px);
        line-height: get-vw-360(24px);
      }
      &_inputs {
        margin-top: get-vw-360(50px);
        display: flex;
        flex-direction: column;
        input {
          width: 100%;
          height: get-vw-360(36px);
          border-radius: get-vw-360(18px);
          padding-left: get-vw-360(20px);
          font-size: get-vw-360(10px);
          line-height: get-vw-360(20px);
          margin-right: get-vw-360(0px);
        }
        a {
          width: 100%;
          height: get-vw-360(36px);
          border-radius: get-vw-360(18px);
          font-size: get-vw-360(10px);
          line-height: get-vw-360(20px);
          margin-top: get-vw-360(15px);
        }
      }
    }
  }
}

</style>
