@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

@font-face{
font-family: 'Open Sans';
src: url('/media/fonts/OpenSans-Regular.ttf');
}

@font-face{
font-family: 'OpenSans-SemiBold';
src: url('/media/fonts/OpenSans-SemiBold.ttf');
}

@font-face{
font-family: 'OpenSans-Bold';
src: url('/media/fonts/OpenSans-Bold.ttf');
}

@font-face{
font-family: 'Gilroy';
src: url('/media/fonts/Gilroy-Regular.ttf');
}
