<template>
    <footer style="background-image: url('media/images/footer.png');">
        <b-container fluid>
            <b-row>
                <b-col md="12" class="footer_blocks" style="padding-left: 0px; padding-right: 0px;">
                    <img src="media/images/footer_logo.svg" class="footer_blocks_logo" alt="">
                    <p>Каждая пятая машина в стране заправляется в нашей сети, которая насчитывает 344 действующих АЗС</p>
                    <div class="footer_blocks_soc">
                        <ul>
                            <li>
                            <a href="javscript:void(0);">
                                <img src="media/images/facebook_white.svg" alt="">
                            </a>
                            </li>
                            <li>
                            <a href="javscript:void(0);">
                                <img src="media/images/twitter_white.svg" alt="">
                            </a>
                            </li>
                            <li>
                            <a href="javscript:void(0);">
                                <img src="media/images/youtube_white.svg" alt="">
                            </a>
                            </li>
                            <li>
                            <a href="javscript:void(0);">
                                <img src="media/images/google_white.svg" alt="">
                            </a>
                            </li>
                        </ul>
                    </div>
                </b-col>
                <!-- <b-col md="6">
                    <div class="footer_form">
                        <h2>Задать вопрос</h2>
                        <div class="footer_form_wrap">
                            <div class="footer_form_inputs">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            <input type="text">
                            </div>
                            <div class="footer_form_textarea">
                            <textarea></textarea>
                            <a class="footer_form_textarea__btn" href="javscript:void(0);">ЗАДАТЬ ВОПРОС</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer_form_bottom">
                    <h3>QAZAQ OIL 2020</h3>
                    <img src="media/images/bead.svg" alt="">
                    <h3>office@petroretail.kz</h3>
                    </div>
                </b-col> -->
                <b-col md="12" class="footer_blocks" style="padding: 0;">
                    <div class="footer_blocks_contact_wrap">
                        <div class="footer_blocks_contact">
                            <div class="footer_blocks_contact_img">
                            <img src="media/images/email_white.svg" alt="">
                            </div>
                            <div class="footer_blocks_contact_descr">
                            <h3>Центр поддержки клиентов</h3>
                            <span>csc@petroretail.kz</span>
                            </div>
                        </div>
                    <div class="footer_blocks_contact">
                        <div class="footer_blocks_contact_img">
                            <img src="media/images/phone_white.svg" alt="">
                        </div>
                        <div class="footer_blocks_contact_descr">
                            <h3>Приемная / +7 7172</h3>
                            <span>979-916, 974-250</span>
                        </div>
                    </div>
                    <div class="footer_blocks_contact">
                        <div class="footer_blocks_contact_img">
                        <img src="media/images/email_white.svg" alt="">
                        </div>
                        <div class="footer_blocks_contact_descr">
                        <h3>Пресс-служба</h3>
                        <span>press@petroretail.kz</span>
                        </div>
                    </div>
                    <div class="footer_blocks_contact">
                        <div class="footer_blocks_contact_img">
                        <img src="media/images/phone_white.svg" alt="">
                        </div>
                        <div class="footer_blocks_contact_descr">
                        <h3>Телефон доверия</h3>
                        <span>+7 771 046 4646</span>
                        </div>
                    </div>
                    </div>
                </b-col>
            </b-row>
        </b-container>
        <a href="javascript:void(0);" class="top_up">
            <img src="media/images/arrow_top.svg" alt="">
        </a>
    </footer>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '../assets/text.scss';

footer {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: get-vw-1440(300px);
  padding-left: get-vw-1440(150px);
  padding-right: get-vw-1440(150px);
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .top_up {
    position: absolute;
    bottom: 0;
    right: 0;
    width: get-vw-1440(60px);
    height: get-vw-1440(40px);
    background: #F44611;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: get-vw-1440(12px);
      height: get-vw-1440(6px);
    }
  }
}

.footer {
  &_blocks {
      display: flex;
      align-items: center;
      padding-top: get-vw-1440(75px);
    &_soc {
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: get-vw-1440(174px);
        li {
          width: get-vw-1440(36px);
          height: get-vw-1440(36px);
          display: flex;
          justify-content: center;
          align-items: center;
          border: get-vw-1440(1px) solid rgba(255, 255, 255, 0.5);
          box-sizing: border-box;
          border-radius: 50%;
        }
      }
    }
    &_logo {
      width: get-vw-1440(168px);
      height: get-vw-1440(32px);
    }
    p {
      font-family: 'Open Sans';
      font-size: get-vw-1440(14px);
      line-height: get-vw-1440(20px);
      letter-spacing: 0.05em;
      color: #FFFFFF;
      opacity: 0.5;
      padding: 0px get-vw-1440(143px);
      margin: 0;
    }
    &_contact_wrap {
      padding-top: get-vw-1440(75px);
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      &::before {
          content: '';
          position: absolute;
          top: get-vw-1440(35px);
          left: 0;
          height: 1px;
          width: 100%;
          background: rgba(255, 255, 255, 0.1);
      }
    }
    &_contact {
      display: flex;
      padding-bottom: get-vw-1440(25px);
      &_img {
        width: get-vw-1440(36px);
        height: get-vw-1440(36px);
        border: get-vw-1440(1px) solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        img {
          width: get-vw-1440(20px);
          height: get-vw-1440(20px);
        }
      }
      &_descr {
        margin-left: get-vw-1440(20px);
        h3 {
          font-family: 'Open Sans';
          font-size: get-vw-1440(12px);
          line-height: get-vw-1440(20px);
          color: #F44611;
          margin: 0;
        }
        span {
          font-family: 'Gilroy';
          font-weight: 600;
          font-size: get-vw-1440(18px);
          line-height: get-vw-1440(20px);
          letter-spacing: 0.05em;
          color: #FFFFFF;
        }
      }
    }
  }
  &_form {
    width: get-vw-1440(546px);
    height: get-vw-1440(460px);
    background: #fff;
    margin-top: get-vw-1440(-140px);
    filter: drop-shadow(0px get-vw-1440(30px) get-vw-1440(30px) rgba(32, 33, 79, 0.15));
    border-top: get-vw-1440(4px) solid #F44611;
    h2 {
      font-family: 'Gilroy';
      font-weight: 800;
      font-size: get-vw-1440(48px);
      line-height: get-vw-1440(60px);
      letter-spacing: 0.05em;
      color: #000000;
      padding-top: get-vw-1440(45px);
      padding-bottom: get-vw-1440(30px);
      display: flex;
      justify-content: center;
    }
    &_wrap {
      display: flex;
    }
    &_textarea {
      padding-left: get-vw-1440(22px);
      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: get-vw-1440(222px);
        height: get-vw-1440(36px);
        background: #F44611;
        border-radius: get-vw-1440(18px);
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: get-vw-1440(10px);
        line-height: get-vw-1440(20px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: get-vw-1440(20px);
        &:hover {
          text-decoration: none;
        }
      }
      textarea {
        width: get-vw-1440(222px);
        height: get-vw-1440(204px);
        background: #F7F7F7;
        border: none;
        padding: get-vw-1440(10px) get-vw-1440(20px);
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: get-vw-1440(10px);
        line-height: get-vw-1440(20px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        &:focus {
          outline: none;
        }
      }
    }
    &_inputs {
      display: flex;
      flex-direction: column;
      input {
        width: get-vw-1440(222px);
        height: get-vw-1440(36px);
        background: #F7F7F7;
        border-radius: get-vw-1440(18px);
        margin-bottom: get-vw-1440(20px);
        border: none;
        margin-left: get-vw-1440(30px);
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: get-vw-1440(10px);
        line-height: get-vw-1440(20px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        padding-left: get-vw-1440(20px);
        &:focus {
          outline: none;
        }
      }
    }
  }
  &_form_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: get-vw-1440(30px);
    margin-bottom: get-vw-1440(30px);
    h3 {
      font-family: Open Sans;
      font-size: get-vw-1440(14px);
      line-height: get-vw-1440(20px);
      color: #FFFFFF;
      opacity: 0.5;
      margin: 0;
    }
    img {
      width: get-vw-1440(14.5px);
      height: get-vw-1440(20px);
      margin: 0px get-vw-1440(30px);
    }
  }
}

// Media queries on Tablet's and Phone's >

@media screen and (max-width: 768px) {
  footer {
    min-height: get-vw-768(383px);
    padding-left: get-vw-768(25px);
    padding-right: get-vw-768(25px);
    .top_up {
      width: get-vw-768(60px);
      height: get-vw-768(40px);
      img {
        width: get-vw-768(12px);
        height: get-vw-768(6px);
      }
    }
  }
  .footer {
    &_blocks {
      display: flex;
      flex-direction: column;
      &_soc {
        ul {
          width: 100%;
          li {
            width: get-vw-768(36px);
            height: get-vw-768(36px);
            border: get-vw-768(1px) solid rgba(255, 255, 255, 0.5);
          }
        }
      }
      &_logo {
        width: get-vw-768(168px);
        height: get-vw-768(32px);
        margin-top: get-vw-768(60px);
      }
      p {
        font-size: get-vw-768(14px);
        line-height: get-vw-768(20px);
        padding-top: get-vw-768(37px);
        padding-bottom: get-vw-768(65px);
      }
      &_contact_wrap {
        padding-top: get-vw-768(60px);
        margin-left: get-vw-768(0px);
        display: flex;
        flex-direction: column;
      }
      &_contact {
        padding-bottom: get-vw-768(25px);
        width: 100%;
        &_img {
          width: get-vw-768(36px);
          height: get-vw-768(36px);
          padding: get-vw-768(8px);
          border: get-vw-768(1px) solid rgba(255, 255, 255, 0.3);
          img {
            width: get-vw-768(20px);
            height: get-vw-768(20px);
          }
        }
        &_descr {
          margin-left: get-vw-768(10px);
          h3 {
            font-size: get-vw-768(12px);
            line-height: get-vw-768(20px);
          }
          span {
            font-size: get-vw-768(15.5px);
            line-height: get-vw-768(20px);
          }
        }
      }
    }
    &_form {
      width: 100%;
      min-height: get-vw-768(460px);
      margin-top: get-vw-768(20px);
      filter: drop-shadow(0px get-vw-768(30px) get-vw-768(30px) rgba(32, 33, 79, 0.15));
      border-top: get-vw-768(4px) solid #F44611;
      h2 {
        font-size: get-vw-768(24px);
        line-height: get-vw-768(60px);
        padding-top: get-vw-768(15px);
        padding-bottom: get-vw-768(10px);
      }
      &_wrap {
        flex-direction: column;
      }
      &_textarea {
        padding-left: 0px;
        &__btn {
          margin: 0 auto;
          width: 80%;
          height: get-vw-768(36px);
          border-radius: get-vw-768(18px);
          font-size: get-vw-768(10px);
          line-height: get-vw-768(20px);
          margin-top: get-vw-768(5px);
        }
        textarea {
          width: 80%;
          padding: get-vw-768(10px) get-vw-768(20px);
          font-size: get-vw-768(10px);
          line-height: get-vw-768(20px);
          margin-left: get-vw-768(30px);
        }
      }
      &_inputs {
        input {
          width: 80%;
          height: get-vw-768(30px);
          border-radius: get-vw-768(18px);
          margin-bottom: get-vw-768(10px);
          margin-left: get-vw-768(30px);
          font-size: get-vw-768(10px);
          line-height: get-vw-768(20px);
          padding-left: get-vw-768(20px);
        }
      }
    }
    &_form_bottom {
      margin-top: get-vw-768(30px);
      margin-bottom: get-vw-768(30px);
      h3 {
        font-size: get-vw-768(14px);
        line-height: get-vw-768(20px);
      }
      img {
        width: get-vw-768(14.5px);
        height: get-vw-768(20px);
        margin: 0px get-vw-768(30px);
      }
    }
  }
}
@media screen and (max-width: 600px) {
  footer {
    min-height: get-vw-600(383px);
    padding-left: get-vw-600(25px);
    padding-right: get-vw-600(25px);
    .top_up {
      width: get-vw-600(60px);
      height: get-vw-600(40px);
      img {
        width: get-vw-600(12px);
        height: get-vw-600(6px);
      }
    }
  }
  .footer {
    &_blocks {
      &_soc {
        ul {
          width: get-vw-600(174px);
          li {
            width: get-vw-600(36px);
            height: get-vw-600(36px);
            border: get-vw-600(1px) solid rgba(255, 255, 255, 0.5);
          }
        }
      }
      &_logo {
        width: get-vw-600(168px);
        height: get-vw-600(32px);
        margin-top: get-vw-600(60px);
      }
      p {
        font-size: get-vw-600(14px);
        line-height: get-vw-600(20px);
        padding-top: get-vw-600(37px);
        padding-bottom: get-vw-600(65px);
      }
      &_contact_wrap {
        padding-top: get-vw-600(60px);
        margin-left: get-vw-600(0px);
      }
      &_contact {
        padding-bottom: get-vw-600(25px);
        &_img {
          width: get-vw-600(36px);
          height: get-vw-600(36px);
          padding: get-vw-600(8px);
          border: get-vw-600(1px) solid rgba(255, 255, 255, 0.3);
          img {
            width: get-vw-600(20px);
            height: get-vw-600(20px);
          }
        }
        &_descr {
          margin-left: get-vw-600(10px);
          h3 {
            font-size: get-vw-600(12px);
            line-height: get-vw-600(20px);
          }
          span {
            font-size: get-vw-600(18px);
            line-height: get-vw-600(20px);
          }
        }
      }
    }
    &_form {
      width: 100%;
      min-height: get-vw-600(460px);
      margin-top: get-vw-600(20px);
      filter: drop-shadow(0px get-vw-600(30px) get-vw-600(30px) rgba(32, 33, 79, 0.15));
      border-top: get-vw-600(4px) solid #F44611;
      h2 {
        font-size: get-vw-600(24px);
        line-height: get-vw-600(60px);
        padding-top: get-vw-600(15px);
        padding-bottom: get-vw-600(10px);
      }
      &_wrap {
        flex-direction: column;
      }
      &_textarea {
        padding-left: 0px;
        &__btn {
          margin: 0 auto;
          width: 80%;
          height: get-vw-600(36px);
          border-radius: get-vw-600(18px);
          font-size: get-vw-600(10px);
          line-height: get-vw-600(20px);
          margin-top: get-vw-600(5px);
        }
        textarea {
          width: 95%;
          padding: get-vw-600(10px) get-vw-600(20px);
          font-size: get-vw-600(10px);
          line-height: get-vw-600(20px);
          margin-left: get-vw-600(15px);
        }
      }
      &_inputs {
        input {
          width: 95%;
          height: get-vw-600(30px);
          border-radius: get-vw-600(18px);
          margin-bottom: get-vw-600(10px);
          margin-left: get-vw-600(15px);
          font-size: get-vw-600(10px);
          line-height: get-vw-600(20px);
          padding-left: get-vw-600(20px);
        }
      }
    }
    &_form_bottom {
      margin-top: get-vw-600(30px);
      margin-bottom: get-vw-600(30px);
      h3 {
        font-size: get-vw-600(14px);
        line-height: get-vw-600(20px);
      }
      img {
        width: get-vw-600(14.5px);
        height: get-vw-600(20px);
        margin: 0px get-vw-600(30px);
      }
    }
  }
}
@media screen and (max-width: 480px) {
  footer {
    min-height: get-vw-480(383px);
    padding-left: get-vw-480(25px);
    padding-right: get-vw-480(25px);
    .top_up {
      width: get-vw-480(60px);
      height: get-vw-480(40px);
      img {
        width: get-vw-480(12px);
        height: get-vw-480(6px);
      }
    }
  }
  .footer {
    &_blocks {
      &_soc {
        ul {
          width: get-vw-480(174px);
          li {
            width: get-vw-480(36px);
            height: get-vw-480(36px);
            border: get-vw-480(1px) solid rgba(255, 255, 255, 0.5);
          }
        }
      }
      &_logo {
        width: get-vw-480(168px);
        height: get-vw-480(32px);
        margin-top: get-vw-480(60px);
      }
      p {
        font-size: get-vw-480(14px);
        line-height: get-vw-480(20px);
        padding-top: get-vw-480(37px);
        padding-bottom: get-vw-480(65px);
      }
      &_contact_wrap {
        padding-top: get-vw-480(60px);
        margin-left: get-vw-480(0px);
      }
      &_contact {
        padding-bottom: get-vw-480(25px);
        &_img {
          width: get-vw-480(36px);
          height: get-vw-480(36px);
          padding: get-vw-480(8px);
          border: get-vw-480(1px) solid rgba(255, 255, 255, 0.3);
          img {
            width: get-vw-480(20px);
            height: get-vw-480(20px);
          }
        }
        &_descr {
          margin-left: get-vw-480(10px);
          h3 {
            font-size: get-vw-480(12px);
            line-height: get-vw-480(20px);
          }
          span {
            font-size: get-vw-480(18px);
            line-height: get-vw-480(20px);
          }
        }
      }
    }
    &_form {
      width: 100%;
      min-height: get-vw-480(460px);
      margin-top: get-vw-480(20px);
      filter: drop-shadow(0px get-vw-480(30px) get-vw-480(30px) rgba(32, 33, 79, 0.15));
      border-top: get-vw-480(4px) solid #F44611;
      h2 {
        font-size: get-vw-480(24px);
        line-height: get-vw-480(60px);
        padding-top: get-vw-480(15px);
        padding-bottom: get-vw-480(10px);
      }
      &_wrap {
        flex-direction: column;
      }
      &_textarea {
        padding-left: 0px;
        &__btn {
          margin: 0 auto;
          width: 80%;
          height: get-vw-480(36px);
          border-radius: get-vw-480(18px);
          font-size: get-vw-480(10px);
          line-height: get-vw-480(20px);
          margin-top: get-vw-480(5px);
        }
        textarea {
          width: 80%;
          padding: get-vw-480(10px) get-vw-480(20px);
          font-size: get-vw-480(10px);
          line-height: get-vw-480(20px);
          margin-left: get-vw-480(30px);
        }
      }
      &_inputs {
        input {
          width: 80%;
          height: get-vw-480(30px);
          border-radius: get-vw-480(18px);
          margin-bottom: get-vw-480(10px);
          margin-left: get-vw-480(30px);
          font-size: get-vw-480(10px);
          line-height: get-vw-480(20px);
          padding-left: get-vw-480(20px);
        }
      }
    }
    &_form_bottom {
      margin-top: get-vw-480(30px);
      margin-bottom: get-vw-480(30px);
      h3 {
        font-size: get-vw-480(14px);
        line-height: get-vw-480(20px);
      }
      img {
        width: get-vw-480(14.5px);
        height: get-vw-480(20px);
        margin: 0px get-vw-480(30px);
      }
    }
  }
}
@media screen and (max-width: 360px) {
  footer {
    min-height: get-vw-360(383px);
    padding-left: get-vw-360(25px);
    padding-right: get-vw-360(25px);
    .top_up {
      width: get-vw-360(60px);
      height: get-vw-360(40px);
      img {
        width: get-vw-360(12px);
        height: get-vw-360(6px);
      }
    }
  }
  .footer {
    &_blocks {
      &_soc {
        ul {
          width: get-vw-360(174px);
          li {
            width: get-vw-360(36px);
            height: get-vw-360(36px);
            border: get-vw-360(1px) solid rgba(255, 255, 255, 0.5);
          }
        }
      }
      &_logo {
        width: get-vw-360(168px);
        height: get-vw-360(32px);
        margin-top: get-vw-360(60px);
      }
      p {
        font-size: get-vw-360(14px);
        line-height: get-vw-360(20px);
        padding-top: get-vw-360(37px);
        padding-bottom: get-vw-360(65px);
      }
      &_contact_wrap {
        padding-top: get-vw-360(60px);
        margin-left: get-vw-360(0px);
      }
      &_contact {
        padding-bottom: get-vw-360(25px);
        &_img {
          width: get-vw-360(36px);
          height: get-vw-360(36px);
          padding: get-vw-360(8px);
          border: get-vw-360(1px) solid rgba(255, 255, 255, 0.3);
          img {
            width: get-vw-360(20px);
            height: get-vw-360(20px);
          }
        }
        &_descr {
          margin-left: get-vw-360(10px);
          h3 {
            font-size: get-vw-360(12px);
            line-height: get-vw-360(20px);
          }
          span {
            font-size: get-vw-360(18px);
            line-height: get-vw-360(20px);
          }
        }
      }
    }
    &_form {
      width: 100%;
      min-height: get-vw-360(460px);
      margin-top: get-vw-360(20px);
      filter: drop-shadow(0px get-vw-360(30px) get-vw-360(30px) rgba(32, 33, 79, 0.15));
      border-top: get-vw-360(4px) solid #F44611;
      h2 {
        font-size: get-vw-360(24px);
        line-height: get-vw-360(60px);
        padding-top: get-vw-360(15px);
        padding-bottom: get-vw-360(10px);
      }
      &_wrap {
        flex-direction: column;
      }
      &_textarea {
        padding-left: 0px;
        &__btn {
          margin: 0 auto;
          width: 80%;
          height: get-vw-360(36px);
          border-radius: get-vw-360(18px);
          font-size: get-vw-360(10px);
          line-height: get-vw-360(20px);
          margin-top: get-vw-360(5px);
        }
        textarea {
          width: 80%;
          padding: get-vw-360(10px) get-vw-360(20px);
          font-size: get-vw-360(10px);
          line-height: get-vw-360(20px);
          margin-left: get-vw-360(28px);
        }
      }
      &_inputs {
        input {
          width: 80%;
          height: get-vw-360(30px);
          border-radius: get-vw-360(18px);
          margin-bottom: get-vw-360(10px);
          margin-left: get-vw-360(28px);
          font-size: get-vw-360(10px);
          line-height: get-vw-360(20px);
          padding-left: get-vw-360(20px);
        }
      }
    }
    &_form_bottom {
      margin-top: get-vw-360(30px);
      margin-bottom: get-vw-360(30px);
      h3 {
        font-size: get-vw-360(14px);
        line-height: get-vw-360(20px);
      }
      img {
        width: get-vw-360(14.5px);
        height: get-vw-360(20px);
        margin: 0px get-vw-360(30px);
      }
    }
  }
}
</style>
