<template>
  <header>
    <div class="header_wrap">
        <b-container fluid>
            <b-row>
                <b-col md="3" sm="3" lg="1" cols="3" class="header_wrap_child" style="padding: 0;">
                    <a href="javascript:void(0);" class="logo">
                        <img src="media/images/logo.svg" alt="">
                    </a>
                </b-col>
                <b-col lg="2" md="3" sm="6" cols="6" class="header_wrap_child" style="padding: 0;">
                    <div class="lang_wrap">
                        <a href="javascript:void(0);">
                            RU
                        </a>
                        <a href="javascript:void(0);">
                            KZ
                        </a>
                        <a href="javascript:void(0);">
                            EN
                        </a>
                    </div>
                </b-col>
                <b-col lg="1" md="3" sm="3" cols="3" class="header_wrap_child" style="padding: 0;">
                    <div class="soc_wrap">
                        <a href="javascript:void(0);">
                        <img src="media/images/instagram.svg" alt="">
                        </a>
                        <a href="javascript:void(0);">
                        <img src="media/images/facebook.svg" alt="">
                        </a>
                    </div>
                </b-col>
                <b-col lg="5" md="12" sm="12" cols="12" style="padding: 0;">
                    <div class="contact_wrap">
                        <div class="contact_wrap_geo">
                            <div class="contact_wrap_geo__img">
                                <img src="media/images/geo.svg" alt="">
                            </div>
                            <div class="contact_wrap_geo__descr">
                                <h3>г. Нур-Султан, пр. Туран, 1</h3>
                            </div>
                        </div>
                        <div class="contact_wrap_phone">
                            <div class="contact_wrap_phone__img">
                                <img src="media/images/phone.svg" alt="">
                            </div>
                            <div class="contact_wrap_phone__descr">
                                <h3>8 800 080 09 11</h3>
                                <a href="javascript:void(0);">Заказать звонок</a>
                            </div>
                        </div>
                    </div>
                </b-col>
                <b-col lg="3" md="12" sm="12" cols="12" class="login_wrap" style="padding: 0;">
                    <a href="javascript:void(0);" class="login_btn">Вход в корпоративный портал</a>
                </b-col>
            </b-row>
        </b-container>
    </div>
  </header>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '../assets/text.scss';

header {
  display: flex;
  align-items: center;
  background: #fff;
  .header_wrap {
    display: flex;
    align-items: center;
    min-height: get-vw-1440(150px);
    padding-left: get-vw-1440(150px);
    padding-right: get-vw-1440(150px);
    height: 100%;
    width: 100%;
    .logo {
      img {
        width: get-vw-1440(68px);
        height: get-vw-1440(68px);
      }
    }
    .lang_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-left: get-vw-1440(20px);
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: get-vw-1440(14px);
        line-height: get-vw-1440(14px);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #000000;
        text-decoration: none;
        width: get-vw-1440(36px);
        height: get-vw-1440(36px);
        &:hover {
          color: #fff;
          background: #F44611;
          border-radius: 50%;
        }
      }
    }
    .soc_wrap {
      display: flex;
      align-items: center;
      height: 100%;
      a {
        padding-right: get-vw-1440(15px);
        &:nth-child(2) {
            padding-right: 0px;
        }
        img {
          width: get-vw-1440(36px);
          height: get-vw-1440(36px);
        }
      }
    }
    .contact_wrap {
      display: flex;
      justify-content: space-evenly;
      height: 100%;
      width: 100%;
      align-items: center;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        height: get-vw-1440(48px);
        width: get-vw-1440(1px);
        background: rgba(0, 0, 0, 0.2);
        left: 42%;
        transform: translateX(42%);
        top: get-vw-1440(10px);
      }
      &_geo {
        display: flex;
        align-items: center;
        width: get-vw-1440(190px);
        &__img {
          width: get-vw-1440(36px);
          height: get-vw-1440(36px);
          border: get-vw-1440(1px) solid rgba(244, 70, 17, 0.2);
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          padding: get-vw-1440(10px);
          img {
            width: get-vw-1440(13px);
            height: get-vw-1440(16px);
          }
        }
        &__descr {
          h3 {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: get-vw-1440(14px);
            line-height: get-vw-1440(20px);
            letter-spacing: 0.05em;
            color: #000000;
            margin: 0px;
            padding: 0px get-vw-1440(19px);
          }
        }
      }
      &_phone {
        display: flex;
        align-items: center;
        width: get-vw-1440(230px);
        &__img {
          width: get-vw-1440(36px);
          height: get-vw-1440(36px);
          border: 1px solid rgba(244, 70, 17, 0.2);
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          padding: get-vw-1440(10px);
          img {
            width: get-vw-1440(13px);
            height: get-vw-1440(13px);
          }
        }
        &__descr {
          display: flex;
          flex-direction: column;
          padding-left: get-vw-1440(19px);
          h3 {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: get-vw-1440(18px);
            line-height: get-vw-1440(20px);
            letter-spacing: 0.05em;
            color: #000000;
            margin: 0px;
          }
          a {
            font-family: 'Gilroy';
            font-weight: bold;
            font-size: get-vw-1440(14px);
            line-height: get-vw-1440(17px);
            letter-spacing: 0.05em;
            color: #F44611;
          }
        }
      }
    }
    .login_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: get-vw-1440(262px);
      height: get-vw-1440(36px);
      background: #F44611;
      border-radius: get-vw-1440(18px);
      font-family: 'Open Sans';
      font-weight: 600;
      font-size: get-vw-1440(10px);
      line-height: get-vw-1440(20px);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
    }
    .login_wrap {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    min-height: get-vw-768(150px);
    .header_wrap {
      padding-left: get-vw-768(0px);
      padding-right: get-vw-768(0px);
      &_child {
        display: flex;
        justify-content: center;
        margin-bottom: get-vw-768(25px);
      }
      .logo {
        img {
          width: get-vw-768(68px);
          height: get-vw-768(68px);
        }
      }
      .lang_wrap {
        padding-left: get-vw-768(20px);
        a {
          font-size: get-vw-768(14px);
          line-height: get-vw-768(14px);
          width: get-vw-768(36px);
          height: get-vw-768(36px);
        }
      }
      .soc_wrap {
        a {
          padding-right: get-vw-768(15px);
          img {
            width: get-vw-768(36px);
            height: get-vw-768(36px);
          }
        }
      }
      .contact_wrap {
        margin-bottom: get-vw-768(30px);
        &::after {
          height: get-vw-768(48px);
          width: get-vw-768(0px);
          left: 42%;
          transform: translateX(42%);
          top: get-vw-768(10px);
        }
        &_geo {
          width: get-vw-768(190px);
          &__img {
            width: get-vw-768(36px);
            height: get-vw-768(36px);
            border: get-vw-768(1px) solid rgba(244, 70, 17, 0.2);
            padding: get-vw-768(10px);
            img {
              width: get-vw-768(13px);
              height: get-vw-768(16px);
            }
          }
          &__descr {
            h3 {
              font-size: get-vw-768(14px);
              line-height: get-vw-768(20px);
              padding: 0px get-vw-768(19px);
            }
          }
        }
        &_phone {
          width: get-vw-768(230px);
          &__img {
            width: get-vw-768(36px);
            height: get-vw-768(36px);
            padding: get-vw-768(10px);
            img {
              width: get-vw-768(13px);
              height: get-vw-768(13px);
            }
          }
          &__descr {
            padding-left: get-vw-768(19px);
            h3 {
              font-size: get-vw-768(18px);
              line-height: get-vw-768(20px);
            }
            a {
              font-size: get-vw-768(14px);
              line-height: get-vw-768(17px);
            }
          }
        }
      }
      .login_btn {
        width: get-vw-768(262px);
        height: get-vw-768(36px);
        border-radius: get-vw-768(18px);
        font-size: get-vw-768(10px);
        line-height: get-vw-768(20px);
        margin-bottom: get-vw-768(25px);
        margin-top: get-vw-768(15px);
      }
    }
  }
}
@media screen and (max-width: 600px) {
  header {
    min-height: get-vw-600(150px);
    .header_wrap {
      padding-left: get-vw-600(0px);
      padding-right: get-vw-600(0px);
      &_child {
        display: flex;
        justify-content: center;
        margin-bottom: get-vw-600(25px);
      }
      .logo {
        img {
          width: get-vw-600(68px);
          height: get-vw-600(68px);
        }
      }
      .lang_wrap {
        padding-left: get-vw-600(20px);
        a {
          font-size: get-vw-600(14px);
          line-height: get-vw-600(14px);
          width: get-vw-600(36px);
          height: get-vw-600(36px);
        }
      }
      .soc_wrap {
        a {
          padding-right: get-vw-600(15px);
          img {
            width: get-vw-600(36px);
            height: get-vw-600(36px);
          }
        }
      }
      .contact_wrap {
        margin-bottom: get-vw-600(30px);
        &::after {
          height: get-vw-600(48px);
          width: get-vw-600(0px);
          left: 42%;
          transform: translateX(42%);
          top: get-vw-600(10px);
        }
        &_geo {
          width: get-vw-600(190px);
          &__img {
            width: get-vw-600(36px);
            height: get-vw-600(36px);
            border: get-vw-600(1px) solid rgba(244, 70, 17, 0.2);
            padding: get-vw-600(10px);
            img {
              width: get-vw-600(13px);
              height: get-vw-600(16px);
            }
          }
          &__descr {
            h3 {
              font-size: get-vw-600(14px);
              line-height: get-vw-600(20px);
              padding: 0px get-vw-600(19px);
            }
          }
        }
        &_phone {
          width: get-vw-600(230px);
          &__img {
            width: get-vw-600(36px);
            height: get-vw-600(36px);
            padding: get-vw-600(10px);
            img {
              width: get-vw-600(13px);
              height: get-vw-600(13px);
            }
          }
          &__descr {
            padding-left: get-vw-600(19px);
            h3 {
              font-size: get-vw-600(18px);
              line-height: get-vw-600(20px);
            }
            a {
              font-size: get-vw-600(14px);
              line-height: get-vw-600(17px);
            }
          }
        }
      }
      .login_btn {
        width: get-vw-600(262px);
        height: get-vw-600(36px);
        border-radius: get-vw-600(18px);
        font-size: get-vw-600(10px);
        line-height: get-vw-600(20px);
        margin-bottom: get-vw-600(25px);
        margin-top: get-vw-600(15px);
      }
    }
  }
}
@media screen and (max-width: 480px) {
  header {
    min-height: get-vw-480(150px);
    .header_wrap {
      padding-left: get-vw-480(0px);
      padding-right: get-vw-480(0px);
      &_child {
        display: flex;
        justify-content: center;
        margin-bottom: get-vw-480(25px);
      }
      .logo {
        img {
          width: get-vw-480(68px);
          height: get-vw-480(68px);
        }
      }
      .lang_wrap {
        padding-left: get-vw-480(0px);
        a {
          font-size: get-vw-480(14px);
          line-height: get-vw-480(14px);
          width: get-vw-480(36px);
          height: get-vw-480(36px);
        }
      }
      .soc_wrap {
        a {
          padding-right: get-vw-480(15px);
          img {
            width: get-vw-480(36px);
            height: get-vw-480(36px);
          }
        }
      }
      .contact_wrap {
        margin-bottom: get-vw-480(30px);
        &::after {
          height: get-vw-480(48px);
          width: get-vw-480(0px);
          left: 42%;
          transform: translateX(42%);
          top: get-vw-480(10px);
        }
        &_geo {
          width: get-vw-480(190px);
          &__img {
            width: get-vw-480(36px);
            height: get-vw-480(36px);
            border: get-vw-480(1px) solid rgba(244, 70, 17, 0.2);
            padding: get-vw-480(10px);
            img {
              width: get-vw-480(13px);
              height: get-vw-480(16px);
            }
          }
          &__descr {
            h3 {
              font-size: get-vw-480(14px);
              line-height: get-vw-480(20px);
              padding: 0px get-vw-480(19px);
            }
          }
        }
        &_phone {
          width: get-vw-480(230px);
          &__img {
            width: get-vw-480(36px);
            height: get-vw-480(36px);
            padding: get-vw-480(10px);
            img {
              width: get-vw-480(13px);
              height: get-vw-480(13px);
            }
          }
          &__descr {
            padding-left: get-vw-480(19px);
            h3 {
              font-size: get-vw-480(18px);
              line-height: get-vw-480(20px);
            }
            a {
              font-size: get-vw-480(14px);
              line-height: get-vw-480(17px);
            }
          }
        }
      }
      .login_btn {
        width: get-vw-480(262px);
        height: get-vw-480(36px);
        border-radius: get-vw-480(18px);
        font-size: get-vw-480(10px);
        line-height: get-vw-480(20px);
        margin-bottom: get-vw-480(25px);
        margin-top: get-vw-480(15px);
      }
    }
  }
}
@media screen and (max-width: 360px) {
  header {
    min-height: get-vw-360(150px);
    .header_wrap {
      padding-left: get-vw-360(0px);
      padding-right: get-vw-360(0px);
      &_child {
        display: flex;
        justify-content: center;
        margin-bottom: get-vw-360(25px);
      }
      .logo {
        img {
          width: get-vw-360(68px);
          height: get-vw-360(68px);
        }
      }
      .lang_wrap {
        padding-left: get-vw-360(0px);
        a {
          font-size: get-vw-360(14px);
          line-height: get-vw-360(14px);
          width: get-vw-360(36px);
          height: get-vw-360(36px);
        }
      }
      .soc_wrap {
        a {
          padding-right: get-vw-360(15px);
          img {
            width: get-vw-360(36px);
            height: get-vw-360(36px);
          }
        }
      }
      .contact_wrap {
        margin-bottom: get-vw-360(30px);
        &::after {
          height: get-vw-360(48px);
          width: get-vw-360(0px);
          left: 42%;
          transform: translateX(42%);
          top: get-vw-360(10px);
        }
        &_geo {
          width: get-vw-360(190px);
          &__img {
            width: get-vw-360(36px);
            height: get-vw-360(36px);
            border: get-vw-360(1px) solid rgba(244, 70, 17, 0.2);
            padding: get-vw-360(10px);
            img {
              width: get-vw-360(13px);
              height: get-vw-360(16px);
            }
          }
          &__descr {
            h3 {
              font-size: get-vw-360(14px);
              line-height: get-vw-360(20px);
              padding: 0px get-vw-360(19px);
            }
          }
        }
        &_phone {
          width: get-vw-360(230px);
          &__img {
            width: get-vw-360(36px);
            height: get-vw-360(36px);
            padding: get-vw-360(10px);
            img {
              width: get-vw-360(13px);
              height: get-vw-360(13px);
            }
          }
          &__descr {
            padding-left: get-vw-360(19px);
            h3 {
              font-size: get-vw-360(18px);
              line-height: get-vw-360(20px);
            }
            a {
              font-size: get-vw-360(14px);
              line-height: get-vw-360(17px);
            }
          }
        }
      }
      .login_btn {
        width: get-vw-360(262px);
        height: get-vw-360(36px);
        border-radius: get-vw-360(18px);
        font-size: get-vw-360(10px);
        line-height: get-vw-360(20px);
        margin-bottom: get-vw-360(25px);
        margin-top: get-vw-360(15px);
      }
    }
  }
}
</style>
