$mapSize: (
    main: (100),
);

.ratio {
    width: 100%;

    &_img {
        width: 100%;
        position: relative;


        &_src {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            display: flex;
            flex-direction: column;
        }

    }

    @each $key, $sizeStap in $mapSize {
        @if ($key=="main") {
            @each $size in nth($sizeStap, 1) {

                &-#{$size} &_img {
                    padding-top: #{$size+"%"};
                }

            }
        }
    }
}
