<template>

    <form @submit.prevent="updateTable" action="/api/table/update" onSubmit="return false;" method="post"
          class="model_edit">

        <div class="breadcrumb-nav">
            <div class="breadcrumb">
                <div class="breadcrumb_main">
                    <router-link to="/admin" class="breadcrumb-item">
                        <i class="material-icons  text-s10">dashboard</i>
                        <p class="text text-s10">
                            Консоль
                        </p>
                    </router-link>
                    <router-link to="/admin/database" class="breadcrumb-item">
                        <p class="text text-s10">
                            Database
                        </p>
                    </router-link>
                    <div class="breadcrumb-item">
                        <p class="text text-s10">
                            Edit
                        </p>
                    </div>
                    <div class="breadcrumb-item">
                        <p class="text text-s10">
                            {{ model }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="model_edit_head">
            <i class="material-icons  text-m05 text-s24">cloud_queue</i> <span class="text text-s18">Editing table {{
                model
            }}</span>
        </div>

        <div class="model-panel">
            <div class="model-panel_main">

                <div class="model_edit_head">
                    <div class="input-text">
                <span class="text text-s12 input_name">
                   Table Name
                </span>
                        <input :required="true" name="table[model]" v-model="model" type="text"
                               class="form-control text text-s12">
                    </div>
                </div>

                <div class="model_edit_main">
                    <span class="text text-s12 input_name">Table Columns</span>
                    <table
                        class="table sortTables  table-bordered table-striped js-table dataTable order-table no-footer">
                        <thead>
                        <tr>
                            <th class="text text-s12">Name</th>
                            <th class="text text-s12">Type</th>
                            <th class="text text-s12">Length</th>
                            <th class="text text-s12">Not Null</th>
                            <th class="text text-s12">Unsigned</th>
                            <th class="text text-s12">Increment</th>
                            <th class="text text-s12">Index</th>
                            <th class="text text-s12">Default</th>
                            <th class="text text-s12"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="inputGroup-check " v-for="(row,index) in list" :key="index">
                            <td>
                                <input type="hidden" :name="'row['+index+'][nameOld]'" :value="row['nameOld']"
                                       class="form-control text text-s12">
                                <input type="text" :name="'row['+index+'][name]'"
                                       @input="updateValue(index,'name', $event.target.value)" :required="true"
                                       :value="row['name']"
                                       class="form-control text text-s12">
                            </td>
                            <td>
                                <div class="row-fluid">

                                    <select class="selectpicker form-control text text-s12"
                                            :name="'row['+index+'][type]'"
                                            @input="updateValue(index,'type', $event.target.value)"
                                            data-show-subtext="true" :required="true"
                                            data-live-search="true">
                                        <option value="">Выберите тип</option>
                                        <optgroup :label="key" v-for="(selectGroup,key) in typeDbRow">
                                            <option v-bind:value="option" :selected="option == row['type']"
                                                    v-for="option in selectGroup" data-subtext="">
                                                {{ option }}
                                            </option>
                                        </optgroup>
                                    </select>

                                </div>
                            </td>

                            <td>
                            </td>
                            <td>
                                <div class="input-checkbox">
                                    <label class="toggle">
                                        <input type="checkbox"
                                               @input="updateValue(index,'notnull', $event.target.value)"
                                               :name="'row['+index+'][notnull]'"
                                               value="1" :checked="row['notnull'] == true"
                                               class="checkbox"
                                               style="display:none"/>
                                        <span></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="input-checkbox">
                                    <label class="toggle">
                                        <input type="checkbox"
                                               @input="updateValue(index,'unsigned', $event.target.value)"
                                               :name="'row['+index+'][unsigned]'"
                                               value="1" :checked="row['unsigned'] == true"
                                               class="checkbox"
                                               style="display:none"/>
                                        <span></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="input-checkbox">
                                    <label class="toggle">
                                        <input type="checkbox"
                                               @input="updateValue(index,'increment', $event.target.value)"
                                               :name="'row['+index+'][increment]'"
                                               value="1" :checked="row['increment'] == true"
                                               class="checkbox"
                                               style="display:none"/>
                                        <span></span>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="row-fluid">
                                    <select class="selectpicker form-control text text-s12"
                                            @input="updateValue(index,'index', $event.target.value)"
                                            :name="'row['+index+'][index]'"
                                            data-show-subtext="true"
                                            data-live-search="true">
                                        <option :value="indexRow" v-for="(indexRow) in dbRowIndex"
                                                :selected="indexRow == row['index']">
                                            {{ indexRow }}
                                        </option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <input type="text" :name="'row['+index+'][default]'"
                                       @input="updateValue(index,'default', $event.target.value)"
                                       :value="row['default']"
                                       class="form-control text text-s12">
                            </td>
                            <td>
                                <div class="model_action">
                                    <div @click="rowDelete(index)" class="btn btn-danger btn-icon">
                                        <i class="material-icons">delete_forever</i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="model_edit_nav">

                    <div @click="addRow" class="btn btn-success text text-s12">+ Add New Column</div>
                    <div @click="addRowTime" class="btn btn-success text text-s12">+ Add Timestamps</div>
                    <div @click="addRowDelete" class="btn btn-success text text-s12">+ Add Soft Deletes</div>

                </div>
            </div>
            <div class="model-panel_nav">
                <input type="submit" value="Обновить таблицу" class="btn btn-primary pull-right text text-s12">
            </div>
        </div>
    </form>


</template>


<script>

import {inArray, serialize} from "../../../../../overall/js/app";



export default {
    props: ['modelname'],

    data() {
        return {
            model: '',
            typeDbRow: [],
            dbRowIndex: [
                '',
                'INDEX',
                'UNIQUE',
                'PRIMARY',
            ],
            list: [
                {
                    "nameOld": "id",
                    "name": "id",
                    "type": "integer",
                    "notnull": true,
                    "unsigned": true,
                    "increment": true,
                    "index": "PRIMARY",
                    "default": "",
                }
            ]
        }
    },
    created() {
        axios.get('/api/admin/type_row_db').then((response) => {
            this.typeDbRow = response.data.data
            if (this.$route.params.model != "new") {
                axios.get('/api/table/list/' + this.$route.params.model).then((response) => {
                    this.list = response.data.data.row
                    this.model = response.data.data.table.model;
                });
            }
        });
    },
    methods:
        {
            addRow() {

                this.list.push({
                    "nameOld": "",
                    "name": this.name,
                    "type": "",
                    "notnull": false,
                    "unsigned": false,
                    "increment": false,
                    "index": "",
                    "default": "",
                });
                this.$notify({
                    group: 'notifications',
                    type: 'success',
                    title: 'Столбец добавлен',
                });
            },
            addRowTime() {

                if (inArray(this.list, "name", "created_at").length == 0) {
                    this.list.push({
                        "name": "created_at",
                        "type": "timestamp",
                        "notnull": false,
                        "unsigned": false,
                        "increment": false,
                        "index": "",
                        "default": "",
                    });

                    this.$notify({
                        group: 'notifications',
                        type: 'success',
                        title: 'Столбец created_at добавлен',
                    });
                } else {
                    this.$notify({
                        group: 'notifications',
                        type: 'error',
                        title: 'Столбец created_at уже существует',
                    });
                }

                if (inArray(this.list, "name", "updated_at").length == 0) {
                    this.list.push({
                        "nameOld": "updated_at",
                        "name": "updated_at",
                        "type": "timestamp",
                        "notnull": false,
                        "unsigned": false,
                        "increment": false,
                        "index": "",
                        "default": "",
                    });

                    this.$notify({
                        group: 'notifications',
                        type: 'success',
                        title: 'Столбец добавлен',
                    });
                } else {
                    this.$notify({
                        group: 'notifications',
                        type: 'error',
                        title: 'Столбец updated_at уже существует',
                    });
                }
            },
            addRowDelete() {
                if (inArray(this.list, "name", "deleted_at").length == 0) {
                    this.list.push({
                        "nameOld": "deleted_at",
                        "name": "deleted_at",
                        "type": "timestamp",
                        "notnull": false,
                        "unsigned": false,
                        "increment": false,
                        "index": "",
                        "default": "",
                    });
                    this.$notify({
                        group: 'notifications',
                        type: 'success',
                        title: 'Столбец deleted_at добавлен',
                    });
                } else {
                    this.$notify({
                        group: 'notifications',
                        type: 'error',
                        title: 'Столбец deleted_at уже существует',
                    });
                }

            },
            rowDelete(index) {
                this.$notify({
                    group: 'notifications',
                    type: 'error',
                    title: 'Столбец ' + (this.list[index]["name"]) + ' удалён',
                });
                // console.log(this.dbRowList);
                this.list.splice(index, 1);
            },

            updateTable(inputs) {
                const formData = serialize(inputs.target);

                axios.post('/api/table/update', formData)
                    .then((response) => {
                        this.list = response.data.data
                    });
            },
            updateValue(index, key, value) {
                this.list[index][key] = value;
            }
        }
}


</script>
