<template>

    <form @submit.prevent="updateTable" action="/api/table/update" onSubmit="return false;" method="post"
          class="model_edit">

        <input name="table[model]" v-model="model" type="hidden"
               class="form-control text text-s12">

        <div class="breadcrumb-nav">
            <div class="breadcrumb">
                <div class="breadcrumb_main">
                    <router-link to="/admin" class="breadcrumb-item">
                        <i class="material-icons  text-s10">dashboard</i>
                        <p class="text text-s10">
                            Консоль
                        </p>
                    </router-link>
                    <router-link to="/admin/database" class="breadcrumb-item">
                        <p class="text text-s10">
                            Database
                        </p>
                    </router-link>
                    <div class="breadcrumb-item">
                        <p class="text text-s10">
                            Bread
                        </p>
                    </div>
                    <div class="breadcrumb-item">
                        <p class="text text-s10">
                            {{ model }}
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="model_edit_head">
            <i class="material-icons  text-m05 text-s24">cloud_queue</i> <span class="text text-s18">Edit BREAD for
            {{ model }} table
        </span>
        </div>

        <div class="model-panel">
            <div class="model-panel_main">
                <div class="model_edit_main" style="margin: 0;">
                    <table
                        class="table sortTables  table-bordered table-bordered-top table-striped js-table dataTable order-table no-footer">
                        <thead>
                        <tr>
                            <th class="text text-s12">Field</th>
                            <th class="text text-s12">Visibility</th>
                            <th class="text text-s12">Input Type</th>
                            <th class="text text-s12">Display Name</th>
                        </tr>
                        </thead>
                        <draggable v-model="list" tag="tbody">
                            <tr class="inputGroup-check " v-for="(row,index) in list" :key="index">
                                <td>
                                    <p class="text text-s16">
                                        {{ row['name'] }}
                                    </p>
                                </td>
                                <td>
                                    <div class="text text-s12">
                                        <div class="ch-def">
                                            <input type="checkbox" :id="row['name']+'[browse]'" value="browse"
                                                   :checked="row['is_data']['views'].includes('browse') == true"
                                                   :name="'field['+row['name']+'][views][]'">
                                            <label :for="row['name']+'[browse]'">Browse</label>
                                        </div>
                                        <!--                                    <div class="ch-def">-->
                                        <!--                                        <input type="checkbox" :id="row['name']+'[read]'" value="read"-->
                                        <!--                                               :checked="row['is_data']['views'].includes('read') == true"-->
                                        <!--                                               :name="'field['+row['name']+'][views][]'">-->
                                        <!--                                        <label :for="row['name']+'[read]'">Read</label>-->
                                        <!--                                    </div>-->
                                        <!--                                    -->
                                        <div class="ch-def">
                                            <input type="checkbox" :id="row['name']+'[edit]'"
                                                   :checked="row['is_data']['views'].includes('edit') == true"
                                                   value="edit"
                                                   :name="'field['+row['name']+'][views][]'">
                                            <label :for="row['name']+'[edit]'">Edit</label>
                                        </div>
                                        <div class="ch-def">
                                            <input type="checkbox" :id="row['name']+'[add]'" value="add"
                                                   :checked="row['is_data']['views'].includes('add') == true"
                                                   :name="'field['+row['name']+'][views][]'">
                                            <label :for="row['name']+'[add]'">Add</label>
                                        </div>
                                        <!--                                    <div class="ch-def">-->
                                        <!--                                        <input type="checkbox" :id="row['name']+'[delete]'"-->
                                        <!--                                               :checked="row['is_data']['views'].includes('delete') == true"-->
                                        <!--                                               :name="'field['+row['name']+'][views][]'" value="delete">-->
                                        <!--                                        <label :for="row['name']+'[delete]'">Delete</label>-->
                                        <!--                                    </div>-->
                                    </div>
                                </td>
                                <td class="text text-s12">
                                    <select :name="'field['+row['name']+'][type]'" required>

                                        <option :value="name" :selected="name == row['is_data']['type']" v-for="(name,index) in type_input" :key="index">
                                            {{ name }}
                                        </option>

                                    </select>
                                </td>

                                <td class="text text-s12">
                                    <div class="ch-def">
                                        <input type="text" :id="row['name']+'[display]'"
                                               :name="'field['+row['name']+'][display]'"
                                               :value="row['is_data']['display']">
                                    </div>
                                </td>

                            </tr>
                        </draggable>
                    </table>
                </div>
            </div>
            <div class="model-panel_nav">
                <input type="submit" value="Update Bread" class="btn btn-primary pull-right text text-s12">
            </div>
        </div>

    </form>


</template>


<script>

import {inArray, serialize} from "../../../../../overall/js/app";
import draggable from "vuedraggable";

export default {
    components: {
        'draggable': draggable,
    },
    props: ['modelname'],
    data() {
        return {
            model: '',
            dbRowListInfo: [],
            list: [],
            type_input: ["Text","Image"],
            dragging: false
        }
    },
    created() {
        if (this.$route.params.model != "new") {

            axios.get('/api/database/bread/' + this.$route.params.model + "/get").then((response) => {
                this.dbRowListInfo = response.data.data;

                axios.get('/api/table/list/' + this.$route.params.model).then((response) => {
                    this.model = response.data.data.table.model;
                    var _dbRowList = response.data.data.row;
                    var _dbRowListInfo = this.dbRowListInfo;
                    $.each(_dbRowList, function (index, value) {
                        if (typeof _dbRowListInfo[value["name"]] != "undefined") {
                            _dbRowList[index]["is_data"] = _dbRowListInfo[value["name"]];
                            if (typeof _dbRowList[index]["is_data"]["views"] == "undefined") {
                                _dbRowList[index]["is_data"]["views"] = [];
                            }

                        } else {
                            _dbRowList[index]["is_data"] = {"type": "text", "views": []};
                        }
                    });
                    this.list = _dbRowList;
                });
            });

        }

    },
    methods:
        {
            updateTable(inputs) {
                const formData = serialize(inputs.target);

                axios.post('/api/database/bread/' + this.$route.params.model + "/update", formData)
                    .then((response) => {
                        this.$notify({
                            group: 'notifications',
                            type: 'success',
                            title: 'Bread обновлен',
                        });
                    });

            },
        }
}


</script>
