<template>
<div class="home_navbar">
  <ul>
    <li>
      <a href="javascript:void(0);" class="navbar_after">
        <img src="/media/images/info_icon.svg" alt="">
        <span>О компании</span>
      </a>
    </li>
    <li>
      <router-link to="/set_azs" class="navbar_after">
        <img src="/media/images/compas_icon.svg" alt="">
        <span>СЕТЬ АЗС</span>
      </router-link>
    </li>
    <li>
      <router-link to="/news" class="navbar_after">
        <img src="/media/images/news_icon.svg" alt="">
        <span>НОВОСТИ</span>
      </router-link>
    </li>
    <li>
      <a href="javascript:void(0);" class="navbar_after">
        <img src="/media/images/zakup_icon.svg" alt="">
        <span>ЗАКУПКИ</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" class="navbar_after">
        <img src="/media/images/vacancy_icon.svg" alt="">
        <span>ВАКАНСИИ</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0);" >
        <img src="/media/images/partners_icon.svg" alt="">
        <span>Партнерам</span>
      </a>
    </li>
    <li class="navbar_btn_wrap">
      <a href="javascript:void(0);" class="navbar_btn">
        <img src="/media/images/question_icon.svg" alt="">
        <span>Задать вопрос</span>
      </a>
    </li>
  </ul>
</div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '../assets/text.scss';

.home_navbar {
  background: #20214F;
  width: 100%;
  padding-left: get-vw-1440(150px);
  padding-right: get-vw-1440(150px);
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: get-vw-1440(90px);
    .navbar_btn {
      width: get-vw-1440(264px);
      height: get-vw-1440(90px);
      background: #F44611;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        content: '';
      }
    }
    .navbar_after {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: get-vw-1440(-18px);
        height: get-vw-1440(50px);
        width: get-vw-1440(1px);
        background: rgba(255, 255, 255, 0.2);
      }
    }
    li {
        a {
        display: flex;
        align-items: center;
        min-height: get-vw-1440(90px);
        img {
          width: get-vw-1440(18px);
          height: get-vw-1440(18px);
        }
        span {
          font-family: 'Open Sans';
          font-weight: 600;
          font-size: get-vw-1440(14px);
          line-height: get-vw-1440(14px);
          letter-spacing: 0.05em;
          color: #fff;
          text-transform: uppercase;
          padding-left: get-vw-1440(10px);
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home_navbar {
    padding-left: get-vw-768(0px);
    padding-right: get-vw-768(0px);
    ul {
      min-height: get-vw-768(90px);
      flex-wrap: wrap;
      .navbar_btn_wrap {
        width: 100%;
      }
      .navbar_btn {
        width: 100%;
        height: get-vw-768(90px);
      }
      .navbar_after {
        &::after {
          right: get-vw-768(-18px);
          height: get-vw-768(50px);
          width: get-vw-768(1px);
        }
      }
      li {
          a {
          min-height: get-vw-768(90px);
          img {
            width: get-vw-768(18px);
            height: get-vw-768(18px);
          }
          span {
            font-size: get-vw-768(14px);
            line-height: get-vw-768(14px);
            padding-left: get-vw-768(10px);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .home_navbar {
    padding-left: get-vw-600(0px);
    padding-right: get-vw-600(0px);
    ul {
      min-height: get-vw-600(90px);
      flex-wrap: wrap;
      justify-content: space-evenly;
      .navbar_btn_wrap {
        width: 100%;
      }
      .navbar_btn {
        width: 100%;
        height: get-vw-600(90px);
      }
      .navbar_after {
        &::after {
          right: get-vw-600(-18px);
          height: get-vw-600(50px);
          width: get-vw-600(0px);
        }
      }
      li {
          a {
          min-height: get-vw-600(90px);
          img {
            width: get-vw-600(18px);
            height: get-vw-600(18px);
          }
          span {
            font-size: get-vw-600(14px);
            line-height: get-vw-600(14px);
            padding-left: get-vw-600(10px);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .home_navbar {
    padding-left: get-vw-480(0px);
    padding-right: get-vw-480(0px);
    ul {
      min-height: get-vw-480(90px);
      flex-wrap: wrap;
      justify-content: space-evenly;
      .navbar_btn_wrap {
        width: 100%;
      }
      .navbar_btn {
        width: 100%;
        height: get-vw-480(90px);
      }
      .navbar_after {
        &::after {
          right: get-vw-480(-18px);
          height: get-vw-480(50px);
          width: get-vw-480(0px);
        }
      }
      li {
          a {
          min-height: get-vw-480(90px);
          img {
            width: get-vw-480(18px);
            height: get-vw-480(18px);
          }
          span {
            font-size: get-vw-480(14px);
            line-height: get-vw-480(14px);
            padding-left: get-vw-480(10px);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .home_navbar {
    padding-left: get-vw-360(0px);
    padding-right: get-vw-360(0px);
    ul {
      min-height: get-vw-360(90px);
      flex-wrap: wrap;
      justify-content: space-evenly;
      .navbar_btn_wrap {
        width: 100%;
      }
      .navbar_btn {
        width: 100%;
        height: get-vw-360(90px);
      }
      .navbar_after {
        &::after {
          right: get-vw-360(-18px);
          height: get-vw-360(50px);
          width: get-vw-360(0px);
        }
      }
      li {
          a {
          min-height: get-vw-360(90px);
          img {
            width: get-vw-360(18px);
            height: get-vw-360(18px);
          }
          span {
            font-size: get-vw-360(14px);
            line-height: get-vw-360(14px);
            padding-left: get-vw-360(10px);
          }
        }
      }
    }
  }
}
</style>
