// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Variables
@import '../../overall/sass/style';
@import './component/btn';

.text {
    font-family: 'Inter', sans-serif;
}

.table-bordered th, .table-bordered td {
    border: none;
}

.svg-img {
    @include rem(width, 24px);

    path {
        stroke: rgb(199, 202, 221);
    }
}

html, body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    background-color: #f9f9f9;
}

body {
    font-family: "Open Sans", sans-serif;
}

.bread-nav {
    display: flex;
    justify-content: flex-start;
}

.profil-bar_img {
    overflow: hidden;
}

.profil-bar_name {
    display: flex;
    align-items: center;
}


.table-bordered {
    th, td {
        vertical-align: revert;
    }

    &-top {
        th, td {
            vertical-align: top;
        }
    }
}

.table th, .table td {
    padding: 0.25rem;

}

#app {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.d-flex {
    flex-grow: 2;
    width: 100%;
}

main {
    width: 50%;
    flex-grow: 2;
    @include rem(padding, 60px 41px);
}

.profil-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    @include rem(padding-top, 58px);
    @include rem(padding-bottom, 50px);

    &_img {
        width: 2rem;
        border-radius: 100%;
        background-color: #019ED8;
    }

    &_name {
        font-size: 14px;
        flex-grow: 2;
        width: 10%;
        padding: 5px;
        padding-left: 13px;
    }
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sitebar {
    border-right: 1px solid #ececec;
    display: flex;
    flex-direction: column;
    padding: 0;
    @include rem(width, 272px);

    &_main {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        background-color: #fff;
        overflow-x: hidden;
    }

    &-head {
        background-color: #fff;
        width: 100%;
    }

    &-main {
        height: 20px;
        flex-grow: 2;
        overflow-y: auto;
        box-sizing: border-box;
        @include rem(padding-top, 52px);

        &::-webkit-scrollbar-thumb {
            background-color: #F44611;
            outline: 1px solid #F44611;

        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar {
            width: 6px;
        }
    }
}


.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    margin-bottom: 0;
}

.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.breadcrumb-item + .breadcrumb-item::before {
    font-size: 0.65rem;
}

.breadcrumb {
    background-color: #fff;
    border-radius: 2rem;
    position: relative;
    border: 1px solid #f9f9f9;
    padding: 0.15rem 0.5rem;

    &-nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &-item {
        align-items: center;

        &:not(a) {
            color: #58595f;
        }

        i {
            margin-right: 0.15rem;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.ch-def {
    label {
        margin-bottom: 0;
    }
}

.model-panel {
    margin-top: 1rem;

    &_main {
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
        padding: 1rem;
    }

    &_nav {
        border-top: 1px solid #e4eaec;
        background: linear-gradient(180deg, #fcfcfc 0, #fff);
        padding: 1rem 1rem;
    }
}

.model_action {
    display: flex;
    justify-content: flex-end;
}

.input-text {
    width: 100%;

    & + & {
        margin-top: 1rem;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    font-size: 0.65rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.breadcrumb-item {
    position: relative;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.75rem;
    margin-left: 0.5rem;
}

.model_edit {

    &-title {
        font-weight: 600;
    }

    &-profi {

    }

    &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-flex {
            flex-direction: column;
        }
    }

    &_main {
        margin: 1rem 0;
    }

    &_nav {
        display: flex;
        justify-content: center;

        .btn + .btn {
            margin-left: 1rem;
        }
    }
}

.input_name {
    margin-bottom: 0.5rem;
    color: #76838f;
    display: flex;
}

.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}

.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

.checkbox:checked + .toggle:before {
    background: #947ADA;
}

.form-control {
    height: auto;
    padding: 0.2rem 0.25rem;

    &:focus {
        box-shadow: none;
    }
}

.checkbox:checked + span {
    background: #4F2EDC;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

h1 {
    margin-bottom: 0 !important;
}

.checkbox:checked + span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}


.vue-notification-group {
    margin-top: 12px;
    margin-right: 12px;
}

.vue-notification-wrapper {
    overflow: inherit !important;
}

.vue-notification {
    padding: 10px;
    margin: 0 5px 5px;
    margin-right: 0 !important;
    font-size: 12px;

    color: #ffffff;
    background: #44A4FC;
    border-left: 5px solid #187FE7;
    box-shadow: 0 0 12px #999;
    border-radius: 3px 3px 3px 3px;

    &.warn {
        background: #ffb648;
        border-left-color: #f48a06;
    }

    &.error {
        background: #E54D42;
        border-left-color: #B82E24;
    }

    &.success {
        background: #68CD86;
        border-left-color: #42A85F;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fdfdfd;
}

a {
    color: #337ab7;
}

.nav_table-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .btn + .btn {
        margin-left: 0.5rem;
    }
}

.table-bordered {
    border: none;
}


.drop {

    .drop_menu {
        .btn {
            padding-left: 1rem;
        }
    }

    &_menu {
        display: none;
        background-color: #fff;
    }

    &.active &_menu {
        display: block;
    }
}

.logo-sitebar {
    @include rem(width, 192px);
}
