<template>
    <div class="setAzsCity">
        <div class="setAzsCity__title">
            <div class="setAzsCity__title__h3">
                <h3>Нур-Султан</h3>
            </div>
            <div class="setAzsCity__title__number">
                <span>6 АЗС</span>
                <img src="media/images/arrow_top_setAzs.svg" alt="">
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
@import '../../assets/text.scss';

.setAzsCity {
    padding-left: get-vw-1440(150px);
    padding-right: get-vw-1440(150px);
    padding-top: get-vw-1440(50px);
    padding-bottom: get-vw-1440(50px);
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &__h3 {
            h3 {
                font-family: 'Gilroy';
                font-weight: 600;
                font-size: get-vw-1440(28px);
                line-height: get-vw-1440(34px);
                color: #20214F;
                position: relative;
                margin: 0;
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: get-vw-1440(225px);
                    width: get-vw-1440(776px);
                    height: get-vw-1440(1px);
                    background: #E3E3E3;
                    text-align: center;
                }
            }
        }
        &__number {
            display: flex;
            align-items: center;
            span {
                font-family: 'Open Sans';
                font-size: get-vw-1440(16px);
                line-height: get-vw-1440(22px);
                color: #000000;
            }
            img {
                margin-left: get-vw-1440(20px);
                width: get-vw-1440(8px);
                height: get-vw-1440(14px);
            }
        }
    }
}
</style>
