<template>

    <form @submit.prevent="updateTable" action="/api/table/update" onSubmit="return false;" method="post"
          class="model_edit">

        <div class="breadcrumb-nav">
            <div class="breadcrumb">
                <div class="breadcrumb_main">
                    <router-link to="/admin" class="breadcrumb-item">
                        <i class="material-icons  text-s10">dashboard</i>
                        <p class="text text-s10">
                            Консоль
                        </p>
                    </router-link>
                    <div class="breadcrumb-item">
                        <p class="text text-s10">
                            {{ model }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="model_edit_head">
            <i class="material-icons  text-m05 text-s24">cloud_queue</i> <span class="text text-s18"> {{
                model
            }}</span>
            <router-link class="btn btn-success btn-mate text text-s12" :to="'/admin/'+model+'/edit/0'">
                <i class="material-icons  text-s12">add_circle_outline</i>
                Новая запись
            </router-link>
        </div>

        <div class="model_edit_main">
            <table
                class="table sortTables  table-bordered table-striped js-table dataTable order-table no-footer">
                <thead>
                <tr>
                    <th v-for="(column,column_index) in thead" class="text text-s12">{{ column }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="inputGroup-check " v-for="(row,row_index) in this.data" :key="row_index">
                    <td v-for="(column,column_index) in thead">
                        <div class="bread-nav">
                            <p class="text text-s12">
                                {{ row[column_index] }}
                            </p>
                        </div>

                        <a :href="row['file']" download="" v-if="column_index=='name' && model=='Directory'" class="text text-s12">скачать файл</a>
                        <br>
                        <a :href="row['ecp_file_out']" download="" v-if="column_index=='name' && model=='Directory'" class="text text-s12">скачать подписанный файл</a>

                    </td>
                    <td>
                        <div class="nav_table-btn">
                            <div @click="delete_row(row_index ,row['id'])" class="btn btn-danger btn-df-center text text-s12">
                                <i class="material-icons  text-s14">delete_forever</i>
                            </div>
                            <router-link class="btn btn-success btn-df-center text text-s12"
                                         :to="'/admin/Directory/edit/'+row['id']">
                                <i class="material-icons  text-s14">edit</i>
                            </router-link>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</template>


<script>
export default {
    data() {
        return {
            thead: [],
            model: this.$route.params.model,
            data: []
        }
    },
    created() {
        this.fetchData()
    },
    watch: {
        // при изменениях маршрута запрашиваем данные снова
        $route: 'fetchData'
    },
    methods:
        {
            delete_row(index,id){
                axios.post('/api/database/'+this.model+"/delete", {"id":id})
                    .then((response) => {
                        this.$notify({
                            group: 'notifications',
                            type: 'error',
                            title: 'Запись ' + (id) + ' удалена',
                        });
                    });
                this.data.splice(index, 1);
            },
            fetchData() {
                axios.get('/api/database/' + this.$route.params.model + "/browse_column").then((response) => {
                    this.thead = response.data.data
                    this.model = this.$route.params.model
                    axios.get('/api/database/get/' + this.$route.params.model).then((response) => {
                        this.data = response.data.data;
                    });
                });
            }
        }
}


</script>
