<template>

    <form @submit.prevent="database_save" onSubmit="return false;" method="post"
          class="model_edit">

        <div class="breadcrumb-nav">
            <div class="breadcrumb">
                <div class="breadcrumb_main">
                    <router-link to="/admin" class="breadcrumb-item">
                        <i class="material-icons  text-s10">dashboard</i>
                        <p class="text text-s10">
                            Консоль
                        </p>
                    </router-link>
                    <router-link :to="'/admin/'+model+'/browse'" class="breadcrumb-item">
                        <p class="text text-s10">
                            {{ model }}
                        </p>
                    </router-link>
                    <div class="breadcrumb-item">
                        <p class="text text-s10">
                            Новая запись
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="model_edit_head">
            <i class="material-icons  text-m05 text-s24">cloud_queue</i>
            <span class="text text-s18">{{ model }}</span>

            <input type="submit" value="сохранить" class="btn btn-primary pull-right text text-s12">
        </div>

        <div method="post"
             class="model_edit">

            <div class="model-panel">
                <!--                <div class="model-panel_nav">-->
                <!--                    <input type="submit" value="принять" class="btn btn-primary pull-right text text-s12">-->
                <!--                </div>-->
                <div class="model-panel_main">

                    <div class="model_edit_head model_edit_head-flex">

                        <div class="input-text" v-for="(row,index) in inputs" :key="index">
                            <span class="text text-s12 input_name">
                               {{ row["placeholder"] }}
                            </span>
                            <input :name="'save['+row['name']+']'" :value="(typeof data[row['name']] != 'undefined'?data[row['name']]:'')"
                                   :type="row['type']" class="form-control text text-s12" required />
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </form>
</template>


<script>


import {serialize} from "../../../../../overall/js/app";

export default {
    data() {
        return {
            inputs: [],
            model: this.$route.params.model,
            id: this.$route.params.id,
            data: []
        }
    },
    created() {
        this.fetchData();
    },
    watch: {
        // при изменениях маршрута запрашиваем данные снова
        $route: 'fetchData'
    },
    methods:
        {
            fetchData() {

                axios.get('/api/database/' + this.model + "/edit_column/" + this.id).then((response) => {
                    this.inputs = response.data.data;
                    axios.get('/api/database/get/' + this.model + '/' + this.id).then((response) => {
                        this.data = response.data.data
                    });
                });

            },
            database_save(inputs) {
                const formData = serialize(inputs.target);

                formData.append("id", this.id);
                formData.append("model_name", this.model);

                axios.post('/api/database/update', formData)
                    .then((response) => {
                        this.id = response.data.data["id"];
                        this.$router.push("/admin/" + this.model + "/edit/" + response.data.data["id"]);
                    });

            }
        }
}


</script>
