
<template>
    <div class="d-flex flex-row">
        <sitebar />

        <main>
            <router-view></router-view>
        </main>

        <notifications group="notifications" />

    </div>
</template>

<script>


import sitebar from "./components/sitebar";

export default {
    components: {
        'sitebar':sitebar,
    }
}


</script>

