<template>
    <main>
        <indexHomeslider />
        <Navbar />
        <indexAbout />
        <indexDalamarket />
        <indexSetazs />
        <indexLeaders />
        <indexOurvalues />
        <indexBlog />
        <indexFeedback />
        <indexSubscribe />
    </main>
</template>

<script>
import indexAbout from '../components/indexComponents/indexAbout'
import indexBlog from '../components/indexComponents/indexBlog'
import indexDalamarket from '../components/indexComponents/indexDalamarket'
import indexSetazs from '../components/indexComponents/indexSetazs'
import indexSubscribe from '../components/indexComponents/indexSubscribe'
import indexOurvalues from '../components/indexComponents/indexOurvalues'
import indexHomeslider from '../components/indexComponents/indexHomeslider'
import indexLeaders from '../components/indexComponents/indexLeaders'
import indexFeedback from '../components/indexComponents/indexFeedback'
import Navbar from '../components/Navbar'

export default {
    components: {
        Navbar,
        indexAbout,
        indexDalamarket,
        indexBlog,
        indexSetazs,
        indexSubscribe,
        indexOurvalues,
        indexHomeslider,
        indexLeaders,
        indexFeedback
    }
}
</script>

<style>

</style>
