<template>
<div>
    <HeaderComponent />
        <router-view></router-view>
    <FooterComponent />
</div>
</template>

<script>
import HeaderComponent from '../layouts/HeaderComponent'
import FooterComponent from '../layouts/FooterComponent'

export default {
    components: {
        HeaderComponent,
        FooterComponent
    },
    mounted() {

    }
}
</script>

<style lang="scss">

</style>
