<template>
    <div>
        <Navbar />
         <swiper
            :slides-per-view="3"
            :space-between="50"
            :options="swiperOption"
            @swiper="onSwiper"
            @slideChange="onSlideChange"
            ref="mySwiperRef"
        >
            <swiper-slide
                v-for="(slide, index) in newsInnerItems"
                :key="index"
            >
                <section :style="slide.backgroundImg" class="news_inner__slider"></section>
            </swiper-slide>

        </swiper>
        <div class="container-fluid" v-if="newsInnerItems.length > 1">
          <div class="row">
              <div class="col-md-12">
                  <a href="javascript:void(0);" @click="onPrev()" class="news_inner__slider_prev">
                      <img src="media/images/prev.svg" alt="">
                  </a>
                  <a href="javascript:void(0);" @click="onNext()" class="news_inner__slider_next">
                      <img src="media/images/next.svg" alt="">
                  </a>
              </div>
          </div>
        </div>
        <section class="news_inner__descr">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="news_inner__descr__content">
                            <h2>Первая цифровая автозаправка Qazaq Oil открылась в Алматы</h2>
                            <h3>Теперь алматинцы легко и просто смогут сами залить себе подходящий бензин. Без прямого контакта человека с человеком, без живой очереди на кассе. Все в цифровом поле.</h3>
                            <p>Для этого каждому нужно будет на специальном терминале выбрать вид топлива, вставить пистолет в бензобак и оплатить картой.⁣</p>
                            <p>Это пилотный проект. Если автолюбители оценят и примут новшество, то такие заправки появятся по всей стране.⁣</p>
                            <p>Подобные АЗС помогут снизить риски заражения инфекцией, а значит, и Qazaq Oil внесет определенный вклад в нераспространение вируса.</p>
                            <p>Наша заправка уже принимает гостей по адресу</p>
                            <div class="news_inner__descr__content__address">
                                <div class="news_inner__descr__content__address_img">
                                <img src="media/images/geo_white.svg" alt="">
                                </div>
                                <span>Кульджинский тракт, д.2К.</span>
                            </div>
                            <div class="news_inner__descr__content__link">
                                <a href="javascript:void(0);">Анонсы</a>
                                <span>2 ноябрь 2020</span>
                            </div>
                            <div class="news_inner__descr__content__soc">
                                <div class="news_inner__descr__content__soc_title">
                                <h4>Поделиться с помощью</h4>
                                </div>
                                <div class="news_inner__descr__content__soc_icon">
                                <a href="javscript:void(0);">
                                    <img src="media/images/VK_Color.png" alt="">
                                </a>
                                <a href="javscript:void(0);">
                                    <img src="media/images/Facebook_Color.png" alt="">
                                </a>
                                <a href="javscript:void(0);">
                                    <img src="media/images/OK_Color.png" alt="">
                                </a>
                                <a href="javscript:void(0);">
                                    <img src="media/images/Telegram_Color.png" alt="">
                                </a>
                                <a href="javscript:void(0);">
                                    <img src="media/images/Twitter_Color.png" alt="">
                                </a>
                                <a href="javscript:void(0);">
                                    <img src="media/images/WhatsApp_Color.png" alt="">
                                </a>
                                <a href="javscript:void(0);">
                                    <img src="media/images/LinkedIN_Color.png" alt="">
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <div class="blog_blocks">
                            <div class="blog_blocks_img">
                                <img src="media/images/blog_1.png" alt="">
                            </div>
                            <div class="blog_blocks_descr">
                                <h3>Новости</h3>
                                <h2>Друзья, пришло время перемен</h2>
                                <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                            </div>
                        </div>
                        <div class="blog_blocks">
                            <div class="blog_blocks_img">
                                <img src="media/images/blog_2.png" alt="">
                            </div>
                            <div class="blog_blocks_descr">
                                <h3>Новости</h3>
                                <h2>Друзья, пришло время перемен</h2>
                                <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                            </div>
                        </div>
                        <div class="blog_blocks">
                            <div class="blog_blocks_img">
                                <img src="media/images/blog_3.png" alt="">
                            </div>
                            <div class="blog_blocks_descr">
                                <h3>Новости</h3>
                                <h2>Друзья, пришло время перемен</h2>
                                <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import { SwiperCore, Swiper, SwiperSlide, directive, Navigation } from 'vue-awesome-swiper'
import 'swiper/swiper-bundle.css'
import 'swiper/components/navigation/navigation.scss';

import Navbar from '../components/Navbar'

export default {
    data() {
      return {
          newsInnerItems: [
              {
                backgroundImg: "background-image: url('/media/images/news_inner.png');"
              },
            //   {
            //     backgroundImg: "background-image: url('/media/images/news_inner1.png');"
            //   }
          ],
          swiperOption: {
                autoplay: 5000,
                slidesPerView: 1,
                keyboardControl: true,
            }
      }
    },
    methods: {
      onSwiper(swiper) {
        console.log(swiper)
      },
      onSlideChange() {
        console.log('slide change')
      },
      onNext() {
        this.$refs.mySwiperRef.$swiper.slideNext()
      },
      onPrev() {
        this.$refs.mySwiperRef.$swiper.slidePrev()
      }
    },
    components: {
        Navbar,
        Swiper,
        SwiperSlide
    },
    directives: {
        swiper: directive
    },
    mounted() {

    }
}
</script>

<style lang="scss">
@import '../assets/text.scss';
.news_inner {
  &__slider {
    min-height: get-vw-1440(720px);
    background-repeat: no-repeat;
    background-size: cover;
    &_prev, &_next {
      width: get-vw-1440(60px);
      height: get-vw-1440(60px);
      background: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      z-index: 10;
      top: get-vw-1440(-400px);
    }
    &_prev {
      left: get-vw-1440(150px);
    }
    &_next {
      right: get-vw-1440(150px);
    }
  }
  &__descr {
    min-height: get-vw-1440(1929px);
    padding-top: get-vw-1440(90px);
    padding-left: get-vw-1440(150px);
    padding-right: get-vw-1440(150px);
    &__content {
      &__address {
        border: 1px solid rgba(244, 70, 17, 0.2);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: get-vw-1440(30px);
        &_img {
          width: get-vw-1440(36px);
          height: get-vw-1440(36px);
          display: flex;
          align-items: center;
          justify-content: center;
          background: #F44611;
          border-radius: 50%;
          img {
            width: get-vw-1440(13px);
            height: get-vw-1440(16px);
          }
        }
        span {
          padding-left: get-vw-1440(20px);
          font-family: 'Open Sans';
          font-weight: 600;
          font-size: get-vw-1440(14px);
          line-height: get-vw-1440(20px);
          letter-spacing: 0.05em;
          color: #000000;
        }
      }
      &__link {
        margin-top: get-vw-1440(75px);
        position: relative;
        &::after {
          content: '';
          width: 100%;
          height: 1px;
          background: #E3E3E3;
          position: absolute;
          left: 0;
          bottom: get-vw-1440(-75px);
        }
        a {
          font-family: 'Open Sans';
          font-weight: 600;
          font-size: get-vw-1440(16px);
          line-height: get-vw-1440(19px);
          color: #FFFFFF;
          background: #F44611;
          border-radius: get-vw-1440(24px);
          padding: get-vw-1440(14px) get-vw-1440(50px);
          &:hover {
            text-decoration: none;
          }
        }
        span {
          padding-left: get-vw-1440(30px);
          font-family: 'Open Sans';
          font-weight: 600;
          font-size: get-vw-1440(16px);
          line-height: get-vw-1440(22px);
          color: rgba(0, 0, 0, 0.2);
        }
      }
      &__soc {
        padding-top: get-vw-1440(115px);
        &_title {
          h4 {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: get-vw-1440(14px);
            line-height: get-vw-1440(20px);
            letter-spacing: 0.05em;
            color: #000000;
            padding-bottom: get-vw-1440(25px);
          }
        }
        &_icon {
          min-height: get-vw-1440(96px);
          background: #F6F6F6;
          display: flex;
          align-items: center;
          padding-left: get-vw-1440(30px);
          img {
            margin-right: get-vw-1440(5px);
            height: get-vw-1440(36px);
            width: get-vw-1440(36px);
          }
        }
      }
      h2 {
        font-family: 'Gilroy';
        font-weight: bold;
        font-size: get-vw-1440(36px);
        line-height: get-vw-1440(48px);
        letter-spacing: 0.05em;
        color: #000000;
        position: relative;
        &::after {
          content: '';
          bottom: get-vw-1440(-30px);
          left: 0;
          position: absolute;
          width: get-vw-1440(30px);
          height: get-vw-1440(2px);
          background: #F44611;
        }
      }
      h3 {
        font-family: 'Gilroy';
        font-style: italic;
        font-weight: bold;
        font-size: get-vw-1440(18px);
        line-height: get-vw-1440(28px);
        letter-spacing: 0.05em;
        color: #000000;
        padding-top: get-vw-1440(82px);
        padding-bottom: get-vw-1440(46px);
      }
      p {
        font-family: 'Open Sans';
        font-size: get-vw-1440(14px);
        line-height: get-vw-1440(20px);
        letter-spacing: 0.05em;
        color: #000000;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .news_inner {
    &__slider {
      min-height: get-vw-768(720px);
      background-position: 55% 100%;
      &_prev, &_next {
        width: get-vw-768(60px);
        height: get-vw-768(60px);
        top: get-vw-768(-400px);
      }
      &_prev {
        left: get-vw-768(150px);
      }
      &_next {
        right: get-vw-768(150px);
      }
    }
    &__descr {
      min-height: get-vw-768(1300px);
      padding-top: get-vw-768(90px);
      padding-left: get-vw-768(25px);
      padding-right: get-vw-768(25px);
      &__content {
        &__address {
          padding: get-vw-768(30px);
          &_img {
            width: get-vw-768(36px);
            height: get-vw-768(36px);
            img {
              width: get-vw-768(13px);
              height: get-vw-768(16px);
            }
          }
          span {
            padding-left: get-vw-768(20px);
            font-size: get-vw-768(14px);
            line-height: get-vw-768(20px);
          }
        }
        &__link {
          margin-top: get-vw-768(75px);
          &::after {
            bottom: get-vw-768(-75px);
          }
          a {
            font-size: get-vw-768(16px);
            line-height: get-vw-768(19px);
            border-radius: get-vw-768(24px);
            padding: get-vw-768(14px) get-vw-768(50px);
          }
          span {
            padding-left: get-vw-768(30px);
            font-size: get-vw-768(16px);
            line-height: get-vw-768(22px);
          }
        }
        &__soc {
          padding-top: get-vw-768(115px);
          &_title {
            h4 {
              font-size: get-vw-768(14px);
              line-height: get-vw-768(20px);
              padding-bottom: get-vw-768(25px);
            }
          }
          &_icon {
            min-height: get-vw-768(96px);
            padding-left: get-vw-768(30px);
            img {
              margin-right: get-vw-768(5px);
              height: get-vw-768(36px);
              width: get-vw-768(36px);
            }
          }
        }
        h2 {
          font-size: get-vw-768(36px);
          line-height: get-vw-768(48px);
          &::after {
            bottom: get-vw-768(-30px);
            width: get-vw-768(30px);
            height: get-vw-768(2px);
          }
        }
        h3 {
          font-size: get-vw-768(18px);
          line-height: get-vw-768(28px);
          padding-top: get-vw-768(82px);
          padding-bottom: get-vw-768(46px);
        }
        p {
          font-size: get-vw-768(14px);
          line-height: get-vw-768(20px);
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .news_inner {
    &__slider {
      min-height: get-vw-600(720px);
      background-position: 55% 100%;
      &_prev, &_next {
        width: get-vw-600(60px);
        height: get-vw-600(60px);
        top: get-vw-600(-400px);
      }
      &_prev {
        left: get-vw-600(15px);
      }
      &_next {
        right: get-vw-600(15px);
      }
    }
    &__descr {
      min-height: get-vw-600(1300px);
      padding-top: get-vw-600(90px);
      padding-left: get-vw-600(25px);
      padding-right: get-vw-600(25px);
      &__content {
        &__address {
          padding: get-vw-600(30px);
          &_img {
            width: get-vw-600(36px);
            height: get-vw-600(36px);
            img {
              width: get-vw-600(13px);
              height: get-vw-600(16px);
            }
          }
          span {
            padding-left: get-vw-600(20px);
            font-size: get-vw-600(14px);
            line-height: get-vw-600(20px);
          }
        }
        &__link {
          margin-top: get-vw-600(75px);
          &::after {
            bottom: get-vw-600(-75px);
          }
          a {
            font-size: get-vw-600(16px);
            line-height: get-vw-600(19px);
            border-radius: get-vw-600(24px);
            padding: get-vw-600(14px) get-vw-600(50px);
          }
          span {
            padding-left: get-vw-600(30px);
            font-size: get-vw-600(16px);
            line-height: get-vw-600(22px);
          }
        }
        &__soc {
          padding-top: get-vw-600(115px);
          &_title {
            h4 {
              font-size: get-vw-600(14px);
              line-height: get-vw-600(20px);
              padding-bottom: get-vw-600(25px);
            }
          }
          &_icon {
            min-height: get-vw-600(96px);
            padding-left: get-vw-600(30px);
            img {
              margin-right: get-vw-600(5px);
              height: get-vw-600(36px);
              width: get-vw-600(36px);
            }
          }
        }
        h2 {
          font-size: get-vw-600(36px);
          line-height: get-vw-600(48px);
          &::after {
            bottom: get-vw-600(-30px);
            width: get-vw-600(30px);
            height: get-vw-600(2px);
          }
        }
        h3 {
          font-size: get-vw-600(18px);
          line-height: get-vw-600(28px);
          padding-top: get-vw-600(82px);
          padding-bottom: get-vw-600(46px);
        }
        p {
          font-size: get-vw-600(14px);
          line-height: get-vw-600(20px);
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .news_inner {
    &__slider {
      min-height: get-vw-480(720px);
      background-position: 55% 100%;
      &_prev, &_next {
        width: get-vw-480(60px);
        height: get-vw-480(60px);
        top: get-vw-480(-400px);
      }
      &_prev {
        left: get-vw-480(15px);
      }
      &_next {
        right: get-vw-480(15px);
      }
    }
    &__descr {
      min-height: get-vw-480(1300px);
      padding-top: get-vw-480(90px);
      padding-left: get-vw-480(25px);
      padding-right: get-vw-480(25px);
      &__content {
        &__address {
          padding: get-vw-480(30px);
          &_img {
            width: get-vw-480(36px);
            height: get-vw-480(36px);
            img {
              width: get-vw-480(13px);
              height: get-vw-480(16px);
            }
          }
          span {
            padding-left: get-vw-480(20px);
            font-size: get-vw-480(14px);
            line-height: get-vw-480(20px);
          }
        }
        &__link {
          margin-top: get-vw-480(75px);
          &::after {
            bottom: get-vw-480(-75px);
          }
          a {
            font-size: get-vw-480(16px);
            line-height: get-vw-480(19px);
            border-radius: get-vw-480(24px);
            padding: get-vw-480(14px) get-vw-480(50px);
          }
          span {
            padding-left: get-vw-480(30px);
            font-size: get-vw-480(16px);
            line-height: get-vw-480(22px);
          }
        }
        &__soc {
          padding-top: get-vw-480(115px);
          &_title {
            h4 {
              font-size: get-vw-480(14px);
              line-height: get-vw-480(20px);
              padding-bottom: get-vw-480(25px);
            }
          }
          &_icon {
            min-height: get-vw-480(96px);
            padding-left: get-vw-480(30px);
            img {
              margin-right: get-vw-480(5px);
              height: get-vw-480(36px);
              width: get-vw-480(36px);
            }
          }
        }
        h2 {
          font-size: get-vw-480(36px);
          line-height: get-vw-480(48px);
          &::after {
            bottom: get-vw-480(-30px);
            width: get-vw-480(30px);
            height: get-vw-480(2px);
          }
        }
        h3 {
          font-size: get-vw-480(18px);
          line-height: get-vw-480(28px);
          padding-top: get-vw-480(82px);
          padding-bottom: get-vw-480(46px);
        }
        p {
          font-size: get-vw-480(14px);
          line-height: get-vw-480(20px);
        }
      }
    }
  }
}
@media screen and (max-width: 360px) {
  .news_inner {
    &__slider {
      min-height: get-vw-360(720px);
      background-position: 55% 100%;
      &_prev, &_next {
        width: get-vw-360(60px);
        height: get-vw-360(60px);
        top: get-vw-360(-400px);
      }
      &_prev {
        left: get-vw-360(15px);
      }
      &_next {
        right: get-vw-360(15px);
      }
    }
    &__descr {
      min-height: get-vw-360(1300px);
      padding-top: get-vw-360(90px);
      padding-left: get-vw-360(25px);
      padding-right: get-vw-360(25px);
      &__content {
        &__address {
          padding: get-vw-360(30px);
          &_img {
            width: get-vw-360(36px);
            height: get-vw-360(36px);
            img {
              width: get-vw-360(13px);
              height: get-vw-360(16px);
            }
          }
          span {
            padding-left: get-vw-360(20px);
            font-size: get-vw-360(14px);
            line-height: get-vw-360(20px);
          }
        }
        &__link {
          margin-top: get-vw-360(75px);
          &::after {
            bottom: get-vw-360(-75px);
          }
          a {
            font-size: get-vw-360(16px);
            line-height: get-vw-360(19px);
            border-radius: get-vw-360(24px);
            padding: get-vw-360(14px) get-vw-360(50px);
          }
          span {
            padding-left: get-vw-360(30px);
            font-size: get-vw-360(16px);
            line-height: get-vw-360(22px);
          }
        }
        &__soc {
          padding-top: get-vw-360(115px);
          &_title {
            h4 {
              font-size: get-vw-360(14px);
              line-height: get-vw-360(20px);
              padding-bottom: get-vw-360(25px);
            }
          }
          &_icon {
            min-height: get-vw-360(96px);
            padding-left: get-vw-360(30px);
            img {
              margin-right: get-vw-360(5px);
              height: get-vw-360(36px);
              width: get-vw-360(36px);
            }
          }
        }
        h2 {
          font-size: get-vw-360(36px);
          line-height: get-vw-360(48px);
          &::after {
            bottom: get-vw-360(-30px);
            width: get-vw-360(30px);
            height: get-vw-360(2px);
          }
        }
        h3 {
          font-size: get-vw-360(18px);
          line-height: get-vw-360(28px);
          padding-top: get-vw-360(82px);
          padding-bottom: get-vw-360(46px);
        }
        p {
          font-size: get-vw-360(14px);
          line-height: get-vw-360(20px);
        }
      }
    }
  }
}
</style>
