<template>
    <div>
        <Navbar />
        <section class="news">
            <div class="container-fluid">
                <div class="row">
                    <div class="news_breadcrumbs">
                        <a href="javascript:void(0);">Главная</a>
                        <img src="media/images/arrow_bread.svg" alt="">
                        <a href="javascript:void(0);">Новости</a>
                    </div>
                </div>
                <div class="row">
                    <div class="news_title">
                        <h3>Новости</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="news_tabs">
                        <ul>
                        <li><a href="javascript:void(0);">Все</a></li>
                        <li><a href="javascript:void(0);">Анонсы</a></li>
                        <li><a href="javascript:void(0);">Распоряжения</a></li>
                        <li><a href="javascript:void(0);">Акции</a></li>
                        <li><a href="javascript:void(0);">Медиатека</a></li>
                        <li class="news_tabs__dropdown"><a href="javascript:void(0);"><span>Новые</span><img src="media/images/arrow_down.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row news_head">
                    <div class="col-md-3">
                        <router-link to="/news_inner" tag="div" class="blog_blocks">
                            <div class="blog_blocks_img">
                                <img src="media/images/blog_1.png" alt="">
                            </div>
                            <div class="blog_blocks_descr">
                                <h3>Новости</h3>
                                <h2>Друзья, пришло время перемен</h2>
                                <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                            </div>
                        </router-link>
                    </div>
                    <div class="col-md-3">
                        <div class="blog_blocks">
                        <div class="blog_blocks_img">
                            <img src="media/images/blog_2.png" alt="">
                        </div>
                        <div class="blog_blocks_descr">
                            <h3>Новости</h3>
                            <h2>Друзья, пришло время перемен</h2>
                            <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="blog_blocks">
                        <div class="blog_blocks_img">
                            <img src="media/images/blog_3.png" alt="">
                        </div>
                        <div class="blog_blocks_descr">
                            <h3>Новости</h3>
                            <h2>Друзья, пришло время перемен</h2>
                            <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="blog_blocks">
                        <div class="blog_blocks_img">
                            <img src="media/images/blog_1.png" alt="">
                        </div>
                        <div class="blog_blocks_descr">
                            <h3>Новости</h3>
                            <h2>Друзья, пришло время перемен</h2>
                            <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="news_stock">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="blog_blocks">
                            <div class="blog_blocks_img">
                                <img src="media/images/blog_1.png" alt="">
                            </div>
                            <div class="blog_blocks_descr">
                                <h3>Новости</h3>
                                <h2>Друзья, пришло время перемен</h2>
                                <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="blog_blocks">
                            <div class="blog_blocks_img">
                                <img src="media/images/blog_2.png" alt="">
                            </div>
                            <div class="blog_blocks_descr">
                                <h3>Новости</h3>
                                <h2>Друзья, пришло время перемен</h2>
                                <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="blog_blocks">
                            <div class="blog_blocks_img">
                                <img src="media/images/blog_3.png" alt="">
                            </div>
                            <div class="blog_blocks_descr">
                                <h3>Новости</h3>
                                <h2>Друзья, пришло время перемен</h2>
                                <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="blog_blocks">
                            <div class="blog_blocks_img">
                                <img src="media/images/blog_1.png" alt="">
                            </div>
                            <div class="blog_blocks_descr">
                                <h3>Новости</h3>
                                <h2>Друзья, пришло время перемен</h2>
                                <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="news_bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="blog_blocks">
                        <div class="blog_blocks_img">
                            <img src="media/images/blog_1.png" alt="">
                        </div>
                        <div class="blog_blocks_descr">
                            <h3>Новости</h3>
                            <h2>Друзья, пришло время перемен</h2>
                            <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="blog_blocks">
                        <div class="blog_blocks_img">
                            <img src="media/images/blog_2.png" alt="">
                        </div>
                        <div class="blog_blocks_descr">
                            <h3>Новости</h3>
                            <h2>Друзья, пришло время перемен</h2>
                            <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="blog_blocks">
                        <div class="blog_blocks_img">
                            <img src="media/images/blog_3.png" alt="">
                        </div>
                        <div class="blog_blocks_descr">
                            <h3>Новости</h3>
                            <h2>Друзья, пришло время перемен</h2>
                            <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="blog_blocks">
                        <div class="blog_blocks_img">
                            <img src="media/images/blog_1.png" alt="">
                        </div>
                        <div class="blog_blocks_descr">
                            <h3>Новости</h3>
                            <h2>Друзья, пришло время перемен</h2>
                            <p>Друзья, пришло время перемен. Компания, продающая самый ...</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row news_pagination">
                    <div class="news_pagination__title">
                        <h3>Показано 12 из 46 новостей</h3>
                    </div>
                    <div class="news_pagination__number">
                        <a href="javsacript:void(0);"><img src="media/images/arrow_left_paginate.svg" alt=""></a>
                        <ul>
                        <li><a href="javsacript:void(0);">1</a></li>
                        <li><a href="javsacript:void(0);">2</a></li>
                        <li><a href="javsacript:void(0);">3</a></li>
                        <li><a href="javsacript:void(0);">4</a></li>
                        </ul>
                        <a href="javascript:void(0);"><img src="media/images/arrow_right_paginate.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import Navbar from '../components/Navbar'
export default {
    components: {
        Navbar
    }

}
</script>

<style lang="scss">
@import '../assets/text.scss';
.news {
  padding-left: get-vw-1440(150px);
  padding-right: get-vw-1440(150px);
  &_breadcrumbs {
    padding-top: get-vw-1440(70px);
    padding-bottom: get-vw-1440(25px);
    img {
        margin-top: get-vw-1440(-2px);
        margin-left: get-vw-1440(10px);
        margin-right: get-vw-1440(10px);
    }
    a {
      font-family: 'Open Sans';
      font-size: get-vw-1440(14px);
      line-height: get-vw-1440(20px);
      color: #000000;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &_title {
    h3 {
      font-family: 'Gilroy';
      font-weight: bold;
      font-size: get-vw-1440(36px);
      line-height: get-vw-1440(48px);
      letter-spacing: 0.05em;
      color: #000000;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: get-vw-1440(30px);
        height: get-vw-1440(2px);
        background: #F44611;
        left: 0;
        bottom: get-vw-1440(-25px);
      }
    }
  }
  &_tabs {
    padding-top: get-vw-1440(125px);
    padding-bottom: get-vw-1440(100px);
    width: 100%;
    &__dropdown {
      padding-left: get-vw-1440(85px);
      a {
        border: 1px solid #C8C8C8!important;
        img {
          padding-left: get-vw-1440(20px);
        }
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      li {
        a {
          border: 1px solid #F44611;
          box-sizing: border-box;
          font-family: 'Open Sans';
          border-radius: get-vw-1440(24px);
          padding: get-vw-1440(10px) get-vw-1440(39px) get-vw-1440(13px);
          font-weight: 600;
          font-size: get-vw-1440(16px);
          line-height: get-vw-1440(19px);
          color: #000000;
          &:hover {
            background: #F44611;
            color: #fff;
            text-decoration: none;
            transition: 0.5;
          }
        }
      }
    }
  }
  &_head {
    padding-bottom: get-vw-1440(100px);
  }
  &_pagination {
    padding-top: get-vw-1440(100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      h3 {
        font-family: 'Open Sans';
        font-weight: 500;
        font-size: get-vw-1440(16px);
        line-height: get-vw-1440(19px);
        color: #3E4954;
      }
    }
    &__number {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        display: flex;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        padding: 0px get-vw-1440(20px);
        li {
          a {
            font-family: 'Open Sans';
            font-weight: 500;
            font-size: get-vw-1440(18px);
            line-height: get-vw-1440(22px);
            color: #011F3B;
            border: 1px solid #C8C8C8;
            box-sizing: border-box;
            border-radius: get-vw-1440(24px);
            padding: get-vw-1440(13px) get-vw-1440(18px);
            margin-left: get-vw-1440(5px);
            margin-right: get-vw-1440(5px);
            &:hover {
              text-decoration: none;
              border-radius: 50%;
              color: #fff;
              background: #F44611;
            }
          }
        }
      }
    }
  }
}

.news_stock, .news_bottom {
  padding-left: get-vw-1440(150px);
  padding-right: get-vw-1440(150px);
}

.news_stock {
  min-height: get-vw-1440(696px);
  background: #20214F;
  display: flex;
  align-items: center;
}

.news_bottom {
  min-height: get-vw-1440(1022px);
  padding-top: get-vw-1440(100px);
}

@media screen and (max-width: 768px) {
  .news {
    padding-left: get-vw-768(25px);
    padding-right: get-vw-768(25px);
    &_breadcrumbs {
      padding-top: get-vw-768(70px);
      padding-bottom: get-vw-768(25px);
      a {
        font-size: get-vw-768(14px);
        line-height: get-vw-768(20px);
      }
    }
    &_title {
      h3 {
        font-size: get-vw-768(36px);
        line-height: get-vw-768(48px);
        &::after {
          width: get-vw-768(30px);
          height: get-vw-768(2px);
          bottom: get-vw-768(-25px);
        }
      }
    }
    &_tabs {
      padding-top: get-vw-768(35px);
      padding-bottom: get-vw-768(25px);
      &__dropdown {
        padding-left: get-vw-768(0px);
        margin-top: get-vw-768(35px);
        a {
          img {
            padding-left: get-vw-768(20px);
          }
        }
      }
      ul {
        flex-direction: column;
        li {
          margin: 15px;
          a {
            border-radius: get-vw-768(24px);
            padding: get-vw-768(10px) get-vw-768(39px) get-vw-768(13px);
            font-size: get-vw-768(16px);
            line-height: get-vw-768(19px);
          }
        }
      }
    }
    &_head {
      padding-bottom: get-vw-768(100px);
    }
    &_pagination {
      padding-top: get-vw-768(100px);
      &__title {
        h3 {
          font-size: get-vw-768(16px);
          line-height: get-vw-768(19px);
        }
      }
      &__number {
        ul {
          padding: 0px get-vw-768(20px);
          li {
            a {
              font-size: get-vw-768(18px);
              line-height: get-vw-768(22px);
              border-radius: get-vw-768(24px);
              padding: get-vw-768(13px) get-vw-768(18px);
              margin-left: get-vw-768(5px);
              margin-right: get-vw-768(5px);
            }
          }
        }
      }
    }
  }

  .news_stock, .news_bottom {
    padding-left: get-vw-768(25px);
    padding-right: get-vw-768(25px);
  }

  .news_stock {
    min-height: get-vw-768(696px);
  }

  .news_bottom {
    min-height: get-vw-768(1022px);
    padding-top: get-vw-768(100px);
  }
}
@media screen and (max-width: 600px) {
  .news {
    padding-left: get-vw-600(25px);
    padding-right: get-vw-600(25px);
    &_breadcrumbs {
      padding-top: get-vw-600(70px);
      padding-bottom: get-vw-600(25px);
      a {
        font-size: get-vw-600(14px);
        line-height: get-vw-600(20px);
      }
    }
    &_title {
      h3 {
        font-size: get-vw-600(36px);
        line-height: get-vw-600(48px);
        &::after {
          width: get-vw-600(30px);
          height: get-vw-600(2px);
          bottom: get-vw-600(-25px);
        }
      }
    }
    &_tabs {
      padding-top: get-vw-600(35px);
      padding-bottom: get-vw-600(25px);
      &__dropdown {
        padding-left: get-vw-600(0px);
        margin-top: get-vw-600(35px);
        a {
          img {
            padding-left: get-vw-600(20px);
          }
        }
      }
      ul {
        flex-direction: column;
        li {
          margin: get-vw-600(15px);
          a {
            border-radius: get-vw-600(24px);
            padding: get-vw-600(10px) get-vw-600(39px) get-vw-600(13px);
            font-size: get-vw-600(16px);
            line-height: get-vw-600(19px);
          }
        }
      }
    }
    &_head {
      padding-bottom: get-vw-600(100px);
    }
    &_pagination {
      padding-top: get-vw-600(100px);
      &__title {
        h3 {
          font-size: get-vw-600(16px);
          line-height: get-vw-600(19px);
        }
      }
      &__number {
        ul {
          padding: 0px get-vw-600(20px);
          li {
            a {
              font-size: get-vw-600(18px);
              line-height: get-vw-600(22px);
              border-radius: get-vw-600(24px);
              padding: get-vw-600(13px) get-vw-600(18px);
              margin-left: get-vw-600(5px);
              margin-right: get-vw-600(5px);
            }
          }
        }
      }
    }
  }

  .news_stock, .news_bottom {
    padding-left: get-vw-600(25px);
    padding-right: get-vw-600(25px);
  }

  .news_stock {
    min-height: get-vw-600(696px);
  }

  .news_bottom {
    min-height: get-vw-600(1022px);
    padding-top: get-vw-600(100px);
  }
}
@media screen and (max-width: 480px) {
  .news {
    padding-left: get-vw-480(25px);
    padding-right: get-vw-480(25px);
    &_breadcrumbs {
      padding-top: get-vw-480(70px);
      padding-bottom: get-vw-480(25px);
      a {
        font-size: get-vw-480(14px);
        line-height: get-vw-480(20px);
      }
    }
    &_title {
      h3 {
        font-size: get-vw-480(36px);
        line-height: get-vw-480(48px);
        &::after {
          width: get-vw-480(30px);
          height: get-vw-480(2px);
          bottom: get-vw-480(-25px);
        }
      }
    }
    &_tabs {
      padding-top: get-vw-480(35px);
      padding-bottom: get-vw-480(25px);
      &__dropdown {
        padding-left: get-vw-480(0px);
        margin-top: get-vw-480(35px);
        a {
          img {
            padding-left: get-vw-480(20px);
          }
        }
      }
      ul {
        flex-direction: column;
        li {
          margin: get-vw-480(15px);
          a {
            border-radius: get-vw-480(24px);
            padding: get-vw-480(10px) get-vw-480(39px) get-vw-480(13px);
            font-size: get-vw-480(16px);
            line-height: get-vw-480(19px);
          }
        }
      }
    }
    &_head {
      padding-bottom: get-vw-480(100px);
    }
    &_pagination {
      padding-top: get-vw-480(30px);
      padding-bottom: get-vw-480(20px);
      display: flex;
      justify-content: center;
      &__title {
        h3 {
          font-size: get-vw-480(16px);
          line-height: get-vw-480(19px);
        }
      }
      &__number {
        ul {
          padding: 0px get-vw-480(20px);
          li {
            a {
              font-size: get-vw-480(18px);
              line-height: get-vw-480(22px);
              border-radius: get-vw-480(24px);
              padding: get-vw-480(13px) get-vw-480(18px);
              margin-left: get-vw-480(5px);
              margin-right: get-vw-480(5px);
            }
          }
        }
      }
    }
  }

  .news_stock, .news_bottom {
    padding-left: get-vw-480(25px);
    padding-right: get-vw-480(25px);
  }

  .news_stock {
    min-height: get-vw-480(696px);
  }

  .news_bottom {
    min-height: get-vw-480(1022px);
    padding-top: get-vw-480(100px);
  }
}
@media screen and (max-width: 360px) {
  .news {
    padding-left: get-vw-360(25px);
    padding-right: get-vw-360(25px);
    &_breadcrumbs {
      padding-top: get-vw-360(70px);
      padding-bottom: get-vw-360(25px);
      a {
        font-size: get-vw-360(14px);
        line-height: get-vw-360(20px);
      }
    }
    &_title {
      h3 {
        font-size: get-vw-360(36px);
        line-height: get-vw-360(48px);
        &::after {
          width: get-vw-360(30px);
          height: get-vw-360(2px);
          bottom: get-vw-360(-25px);
        }
      }
    }
    &_tabs {
      padding-top: get-vw-360(35px);
      padding-bottom: get-vw-360(25px);
      &__dropdown {
        padding-left: get-vw-360(0px);
        margin-top: get-vw-360(35px);
        a {
          img {
            padding-left: get-vw-360(20px);
          }
        }
      }
      ul {
        flex-direction: column;
        li {
          margin: get-vw-360(15px);
          a {
            border-radius: get-vw-360(24px);
            padding: get-vw-360(10px) get-vw-360(39px) get-vw-360(13px);
            font-size: get-vw-360(16px);
            line-height: get-vw-360(19px);
          }
        }
      }
    }
    &_head {
      padding-bottom: get-vw-360(100px);
    }
    &_pagination {
      padding-top: get-vw-360(30px);
      padding-bottom: get-vw-360(20px);
      display: flex;
      justify-content: center;
      &__title {
        h3 {
          font-size: get-vw-360(16px);
          line-height: get-vw-360(19px);
        }
      }
      &__number {
        ul {
          padding: 0px get-vw-360(20px);
          li {
            a {
              font-size: get-vw-360(18px);
              line-height: get-vw-360(22px);
              border-radius: get-vw-360(24px);
              padding: get-vw-360(13px) get-vw-360(18px);
              margin-left: get-vw-360(5px);
              margin-right: get-vw-360(5px);
            }
          }
        }
      }
    }
  }

  .news_stock, .news_bottom {
    padding-left: get-vw-360(25px);
    padding-right: get-vw-360(25px);
  }

  .news_stock {
    min-height: get-vw-360(696px);
  }

  .news_bottom {
    min-height: get-vw-360(1022px);
    padding-top: get-vw-360(100px);
  }
}
</style>
