<template>
<div>
    <Navbar />
    <section class="news">
        <div class="container-fluid">
            <div class="row">
                <div class="news_breadcrumbs">
                    <a href="javascript:void(0);">Главная</a>
                    <img src="media/images/arrow_bread.svg" alt="">
                    <a href="javascript:void(0);">Сеть АЗС</a>
                    <img src="media/images/arrow_bread.svg" alt="">
                    <a href="javascript:void(0);">Интерактивный справочник объектов</a>
                </div>
            </div>
            <div class="row">
                <div class="news_title">
                    <h3>Интерактивный справочник объектов</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="setAzs">
        <b-container fluid>
            <b-row>
                <b-col md="12" style="padding: 0;">
                    <div class="setAzs_tools">
                        <div class="setAzs_tools__find">
                            <img src="media/images/set_azs_find_icon.svg" alt="">
                            <input type="text">
                        </div>
                        <div class="setAzs_tools__select">
                            <v-select label="countryName" v-model="selected" :options="azs_oil"></v-select>
                        </div>
                        <div class="setAzs_tools__checkboxes">
                            <label class="setAzs_tools__checkboxes_item">
                                <h3>Банкомат</h3>
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                            <label class="setAzs_tools__checkboxes_item">
                                <h3>Кафе</h3>
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                            <label class="setAzs_tools__checkboxes_item">
                                <h3>WI-FI</h3>
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <a href="javascript:void(0);" class="setAzs_tools__btn">
                            Скрыть карту
                        </a>
                    </div>
                    <div class="setAzs_map">
                        <div id="setAzsMap"></div>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </section>
    <setAzsCity />
</div>

</template>

<script>
import Navbar from '../components/Navbar'
import Vue from 'vue'
import vSelect from 'vue-select'
import setAzsCity from '../components/setAzsComponents/setAzsCity'

Vue.component('v-select', vSelect)
export default {
    data() {
        return {
            selected: 'Все виды бензина',
            azs_oil: [
                'Все виды бензина',
                '98',
                '95',
                '92',
                'ДТ'
            ]
        }
    },
    created() {
        ymaps.ready(this.init);
    },
    methods: {
        addPlacemark(coords) {
        this.map.geoObjects.add(this.createPlacemark(coords))
        this.map.setCenter(coords);
        this.map.setZoom(15)
        },
        createPlacemark(coords) {
        return new ymaps.Placemark(
            coords,
            {
            iconCaption: "поиск..."
            },
            {
            iconLayout: "default#image",
            iconImageHref: "/images/placeholder.png",
            iconImageSize: [40, 40],
            iconImageOffset: [-20, -40],
            preset: "islands#icon",
            iconColor: "#DE293A"
            }
        );
        },
        init(coords) {
        this.map = new ymaps.Map(
            "map",
            {
                center: [43.25622887, 76.92696959],
                zoom: 13
            },
            {
                searchControlProvider: "yandex#search"
            }
        );
        }
    },
    components: {
        Navbar,
        setAzsCity
    },
    mounted() {
        function init() {
            var myMap = new ymaps.Map("setAzsMap", {
            center: [43.26141848, 76.94492184],
            zoom: 11
            }, {
            searchControlProvider: 'yandex#search'
            })
            var myPlacemark = new ymaps.Placemark(
            [43.26141848, 76.94492184]
            );
            myMap.geoObjects.add(myPlacemark);
        }
        ymaps.ready(init);
    }
}
</script>

<style lang="scss">
@import '../assets/text.scss';
@import "vue-select/src/scss/vue-select.scss";
    #setAzsMap {
        width: 100%;
        min-height: get-vw-1440(488px);
    }
    .vs__clear {
        display: none;
    }
    .vs__dropdown-toggle {
        border: none;
    }
    .setAzs {
        padding-left: get-vw-1440(150px);
        padding-right: get-vw-1440(150px);
        &_tools {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: get-vw-1440(130px);
            margin-bottom: get-vw-1440(30px);
            &__find {
                width: get-vw-1440(222px);
                height: get-vw-1440(48px);
                background: #FFFFFF;
                border: 1px solid #C8C8C8;
                box-sizing: border-box;
                border-radius: get-vw-1440(24px);
                display: flex;
                align-items: center;
                font-family: 'Open Sans';
                font-weight: 500;
                font-size: get-vw-1440(16px);
                line-height: get-vw-1440(19px);
                color: #011F3B;
                input {
                    border: none;
                    width: 80%;
                    padding-left: get-vw-1440(15px);
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        font-family: 'Open Sans';
                        font-size: get-vw-1440(15px);
                        line-height: get-vw-1440(18px);
                        display: flex;
                        align-items: center;
                        color: #CCD6E8;
                    }
                }
                img {
                    padding-left: get-vw-1440(10px);
                }
            }
            &__select {
                width: get-vw-1440(222px);
                height: get-vw-1440(48px);
                border: 1px solid #C8C8C8;
                box-sizing: border-box;
                border-radius: get-vw-1440(24px);
                display: flex;
                align-items: center;
                justify-content: space-between;
                .vs__selected-options {
                    width: get-vw-1440(190px);
                    padding-left: get-vw-1440(10px);
                }
                .vs__open-indicator {
                    fill: #000;
                }
                .vs__selected {
                    font-family: 'Open Sans';
                    font-weight: 500;
                    font-size: get-vw-1440(16px);
                    line-height: get-vw-1440(19px);
                    color: #011F3B;
                }
            }
            &__checkboxes {
                display: flex;
                align-items: center;
                &_item {
                    display: block;
                    position: relative;
                    padding-left: get-vw-1440(35px);
                    margin-bottom: get-vw-1440(0px);
                    margin-right: get-vw-1440(30px);
                    cursor: pointer;
                    font-size: get-vw-1440(22px);
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: get-vw-1440(24px);
                        width: get-vw-1440(24px);
                        background-color: transparent;
                        border: 1px solid #C8C8C8;
                        box-sizing: border-box;
                        border-radius: get-vw-1440(8px);
                    }
                    &:hover input ~ .checkmark {
                        background-color: #ccc;
                    }

                    input:checked ~ .checkmark {
                        background-color: transparent;
                    }

                    .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }

                    input:checked ~ .checkmark:after {
                        display: block;
                    }

                    .checkmark:after {
                        left: get-vw-1440(7px);
                        top: get-vw-1440(2px);
                        width: get-vw-1440(7px);
                        height: get-vw-1440(15px);
                        border: 2px solid #F44611;
                        border-width: 0 get-vw-1440(3px) get-vw-1440(3px) 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    h3 {
                        font-family: 'Open Sans';
                        font-weight: 500;
                        font-size: get-vw-1440(16px);
                        line-height: get-vw-1440(19px);
                        color: #011F3B;
                        padding-top: get-vw-1440(2px);
                        margin: 0;
                    }
                }
            }
            &__btn {
                width: get-vw-1440(240px);
                height: get-vw-1440(48px);
                background: #F44611;
                border-radius: get-vw-1440(24px);
                font-family: 'Open Sans';
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
</style>
