<template>

    <div class="model_edit">

        <div class="model_edit_head">
            <div class="model_edit-title">
                <p class="text text-s28">
                    Добро пожаловать, Алина!
                </p>
            </div>
            <div class="model_edit-profi">

            </div>
        </div>

    </div>
</template>


<script>

import {inArray, serialize} from "../../../../overall/js/app";

export default {
    data() {
        return {
            model: '',
            validation: '',
        }
    }
}

</script>
