<template>
    <div class="sitebar">
        <div class="sitebar_main">

            <div class="sitebar-head">
                <div class="profil-bar">
                    <img src="/public/media/admin/images/logo.png" class="logo-sitebar" alt="">
                </div>
                <div class="nav-btn">
                    <div class="btn btn-def">
                        <span class="text text-s16">Пройти обучение</span>
                    </div>
                </div>
            </div>
            <div class="sitebar-main">
                <router-link v-for="(column,column_index) in nav" class="btn btn-nav" :to="column['href']">
                    <div class="btn-nav_icon">
                        <div class="ratio ratio-100">
                            <div class="ratio_img">
                                <div class="ratio_img_src"
                                     :style="'-webkit-mask-box-image: url(/public/media/admin/images/sitebar/'+column['icon']+');'">

                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="text text-s15" v-html="column['name']"></span>
                </router-link>

                <!--                <div class="drop">-->
                <!--                    <a class="btn btn-nav text text-s15 cli" data-closest=".drop" href="javascript:void(0);">-->
                <!--                        <i class="material-icons  text-s18">settings</i>-->
                <!--                        Инструменты-->
                <!--                    </a>-->
                <!--                    <div class="drop_menu">-->
                <!--                        <router-link class="btn btn-nav text text-s15" to="/admin/User/browse">-->
                <!--                            <i class="material-icons  text-s18">face</i>-->
                <!--                            Пользователи-->
                <!--                        </router-link>-->
                <!--                        <router-link class="btn btn-nav text text-s15" to="/a">-->
                <!--                            <i class="material-icons  text-s18">rule</i>-->
                <!--                            Роли-->
                <!--                        </router-link>-->
                <!--                        <router-link class="btn btn-nav text text-s15" to="/admin/database">-->
                <!--                            <i class="material-icons  text-s18">table_chart</i>-->
                <!--                            Таблицы-->
                <!--                        </router-link>-->

                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </div>
</template>


<script>

import {def_event} from "../../../../../overall/js/app";


export default {
    data() {
        return {
            nav: [
                {
                    'href': '/admin',
                    'icon': 'home.svg',
                    'name': 'Главная',
                },
                {
                    'href': '/admin/asd',
                    'icon': 'globe.svg',
                    'name': 'Вестник <br> PetroRetail',
                },
                {
                    'href': '/admin/adsdsa',
                    'icon': 'smile.svg',
                    'name': 'Welcome tour',
                },
                {
                    'href': '/admin/2dasd',
                    'icon': 'alert-octagon.svg',
                    'name': 'Зубрим на зубок!',
                },
                {
                    'href': '/admin/fasd2',
                    'icon': 'trending-up.svg',
                    'name': 'Kaizen',
                },
                {
                    'href': '/admin/asd2f',
                    'icon': 'book.svg',
                    'name': 'Саморазвиваемся',
                },
                {
                    'href': '/admin/fas4f',
                    'icon': 'user-check.svg',
                    'name': 'Берем пример с...',
                },
                {
                    'href': '/admin/asg3as',
                    'icon': 'message-square.svg',
                    'name': 'Заходим на чаек',
                },
                {
                    'href': '/admin/g34q2',
                    'icon': 'map.svg',
                    'name': 'Интерактивный <br> справочник <br> объектов',
                }
            ]
        }
    },
    created() {

        def_event();

    }
}


</script>
